Repository kubernetes/org, pull requests merged in 2019-11, with the labels that each got.

#1371 Add members 2019-10-31
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1370 Update list of folks with admin access to the website repo
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#1374 Add service-apis teams
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/network, size/S

#1373 Adding more owners to external-dns
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, sig/network, size/XS

#1376 sig-network: fix team names in k-sigs
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/network, size/S

#1377 Remove vaikas-google from kubernetes orgs
  config/kubernetes-incubator/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1380 Add drubin to the kubernetes-client org
  config/kubernetes-client/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1379 Add serathius to kubernetes-incubator org
  config/kubernetes-incubator/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1378 Add serathius to SIG instrumentation
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/instrumentation, size/XS

#1384 azure: Migrate cloud-provider-azure access teams to kubernetes-sigs
  config/kubernetes-sigs/provider-azure/OWNERS
  config/kubernetes-sigs/provider-azure/teams.yaml
  config/kubernetes/provider-azure/OWNERS
  config/kubernetes/provider-azure/teams.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, size/S

#1383 sig-release: Update Release Managers teams
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/S

#1385 Add members 2019-11-04
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1386 Add metrics server members and teams to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-instrumentation/OWNERS
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: approved, area/github-membership, area/github-repo, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1388 releng: Revoke Sascha's temporary access to release-managers team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1395 Add members to kubernetes-sigs for contributor playground
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1394 Give janetkuo admin access to the application repo
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, tide/merge-method-squash

#1389 Add RainbowMango as a milestone maintainer for sig instrumentation
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1398 Add oxddr@ to milestone-maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1401 Add bootkube teams to kubernetes-sigs.
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/S

#1402 Add members 2019-11-07
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1411 Remove marun from sig-multicluster teams
  config/kubernetes-sigs/sig-multicluster/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/multicluster, size/XS

#1414 Add members 2019-11-13
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1415 add kkmsft to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1404 Add CI signal github team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1420 Remove ellenkorbes
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1421 Adds teams for the aws-iam-authenticator repo.
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, size/S

#1422 Add members 2019-11-16
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1423 Add l-korbes to kubernetes org
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1418 add xichengliudui to sig-docs-zh team
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1424 Correct descheduler-maintainers team name.
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1425 Update Japanese l10n owners and reviewers
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#1430 Add members 2019-11-19
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1375 Clarify who has website write access and why
  config/kubernetes/org.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/L

#1435 Add members 2019-11-21
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1439 Add members 2019-11-24
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1441 Add palnabarun to kubernetes-client org
  config/kubernetes-client/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1434 Add members to Kops Maintainers list.
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1396 Update admins and approvers for -sigs/krew repos
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, sig/contributor-experience, size/S

#1444 Add members 2019-11-27
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS
