Repository kubernetes/org, pull requests merged in 2019-09, with the labels that each got.

#1152 Add members 2019-09-03
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1155 New members (190903)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1156 Add teams for alibaba-cloud-csi-driver
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, size/S

#1161 Add corneliusweig to krew-maintainers
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cli, sig/contributor-experience, size/XS

#1163 Add members 2019-09-06
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1172 Add members 2019-09-09
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1168 Add vincepri to Cluster API GCP repo admin / update maintainers
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1179 Add members to k-sigs for descheduler repo migration
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1181 Add members 2019-09-11
  config/kubernetes-csi/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1180 Add descheduler teams to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1182 Add sbueringer to cluster-api-openstack maintainer
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1188 Add members 2019-09-13
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1193 Add members 2019-09-17
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1191 Add roycaihw to admin groups in kubernetes-client gen, python and go repos
  config/kubernetes-client/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1200 Add members 2019-09-19
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1198 patch-release-team: Add dougm and idealhack
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/S

#1197 Add chases2 to test-infra oncall
  config/kubernetes/sig-testing/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/XS

#1203 Add ereslibre to sig-cluster-lifecycle{-pr-reviews}
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1208 Add team for ip-masq-agent in k-sigs
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-network/OWNERS
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1210 Add members 2019-09-23
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1212 Remove unused Gopkg.toml
  Gopkg.toml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1213 Update repo-infra-maintainers members
  config/kubernetes/org.yaml
  config/kubernetes/sig-testing/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/S

#1205 Quarterly SIG Release teams update
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/L

#1217 Add members 2019-09-25
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1221 Add myself to CAPI kubeadm provider admin
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1211 Add lingxiankong to cloud-provider-openstack team
  OWNERS_ALIASES
  config/kubernetes/org.yaml
  config/kubernetes/sig-openstack/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/S

#1226 Add members 2019-09-27
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1228 Fix labels for cloud provider in OWNERS files
  config/kubernetes-sigs/sig-aws/OWNERS
  config/kubernetes-sigs/sig-azure/OWNERS
  config/kubernetes-sigs/sig-ibmcloud/OWNERS
  config/kubernetes-sigs/sig-vmware/OWNERS
  config/kubernetes/sig-aws/OWNERS
  config/kubernetes/sig-azure/OWNERS
  config/kubernetes/sig-gcp/OWNERS
  config/kubernetes/sig-ibmcloud/OWNERS
  config/kubernetes/sig-openstack/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, ¯\_(ツ)_/¯

#1231 Migrate reference docs teams to kubernetes-sigs
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1232 Add alenkacz as a milestone maintainer for 1.17
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS
