Repository kubernetes/org, pull requests merged in 2019-08, with the labels that each got.

#1061 Add teams for csi-proxy
  config/kubernetes-csi/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1058 Grant myself maintainer to 2 more Cluster API repos
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1067 Add members 2019-08-03
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1071 Add members 2019-08-06
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1072 config/kubernetes/org.yaml: Sync with kube-state-metrics OWNERS file
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1074 Add Fei-Guo to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1063 Add chrigl and jichenjc into cluster-api-openstack maintainer
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1078 Add members 2019-08-07
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1081 Add members 2019-08-08
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1090 adding 1.16 docs lead to milestone maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1095 Add yue to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1092 Add members 2019-08-11
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1097 Add members 2019-08-13
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1099 Added mattiaperi to sig-docs-it-* teams
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1105 Add members 2019-08-14
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1106 Drop empty maintainers field
  config/kubernetes-incubator/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1101 sig-release: Add justaugustus to Release Managers team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1102 Adds detiber as cabpk maintainer
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1109 add xichengliudui to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1112 Setup teams for kubernetes-sigs/apiserver-builder-alpha
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, sig/contributor-experience, size/S

#1113 pin bazel to 0.26.0
  .bazelversion
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1114 Add members 2019-08-18
  config/kubernetes-csi/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1121 Add members 2019-08-20
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1120 Add teams for system-validators repo
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/S

#1107 Add danninov and phanama as docs-id reviewers
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1122 Add mszostok to the Service Catalog repo admin
  config/kubernetes-sigs/sig-service-catalog/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/service-catalog, size/XS

#1126 Add odinuge to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1133 Add members 2019-08-22
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1148 Add members 2019-08-29
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1128 Update SIG Docs teams
  OWNERS_ALIASES
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S
