Repository kubernetes/org, pull requests merged in 2019-06, with the labels that each got.

#871 Add members 2019-06-01
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#872 Add teams for sig-windows-tools
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/S

#874 Add Scott Creeley (screeley44) to kubernetes-sigs org.yaml
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#875 Add mszostok to the kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#876 Add members 2019-06-03
  config/kubernetes-csi/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#879 Add SataQiu to @kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#883 Remove service-catalog teams from incubator
  config/kubernetes-incubator/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#881 Removed cri-containerd teams
  config/kubernetes-incubator/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#884 Add @akutz to cluster-api-provider-vsphere
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#889 Add members 2019-06-05
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#896 Add new members for June 6, 2019
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#897 sig-release: Add build-admins team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#903 add andrewsykim as admin/maintainer for cloud-provider-vsphere
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#905 cleanup sig-service-catalog teams
  config/kubernetes-sigs/sig-service-catalog/teams.yaml
  config/kubernetes/sig-service-catalog/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/service-catalog, size/S

#906 Add members 2019-06-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#900 Rotate calebamiles for mrbobbytables in github admin team
  OWNERS
  admin/BUILD.bazel
  config/config_test.go
  config/kubernetes-client/OWNERS
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/OWNERS
  config/kubernetes-csi/org.yaml
  config/kubernetes-incubator/OWNERS
  config/kubernetes-incubator/org.yaml
  config/kubernetes-retired/OWNERS
  config/kubernetes-retired/org.yaml
  config/kubernetes-sigs/OWNERS
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/OWNERS
  config/kubernetes/org.yaml
  config/kubernetes/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
  config/kubernetes/sig-pm/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, sig/pm, sig/release, size/L

#911 Add members 2019-06-13
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#913 Add members 2019-06-14
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#915 Remove tariq1890 from sig-azure/cluster-api-azure
  config/kubernetes-sigs/sig-azure/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/azure, sig/contributor-experience, size/XS

#916 Remove tariq1890 from sig-azure
  config/kubernetes/sig-azure/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/azure, sig/contributor-experience, size/XS

#920 Add piotrmiskiewicz to sig-service-catalog-maintainers
  config/kubernetes-sigs/sig-service-catalog/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/service-catalog, size/XS

#923 Add new members (6/17/19)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#922 update kube-state-metrics admins and maintainers
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#917 add Leigh and Daniel as cluster addons operator maintainers
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#924 Add ryan to multitenancy wg maintainers
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-auth/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, sig/contributor-experience, size/XS

#927 Add /me to the patch release and release managers team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#931 Add members 2019-06-19
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#930 Add nzoueidi as a New Membership Coordinator
  config/kubernetes-client/OWNERS
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/OWNERS
  config/kubernetes-csi/org.yaml
  config/kubernetes-incubator/OWNERS
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/OWNERS
  config/kubernetes-sigs/org.yaml
  config/kubernetes/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#939 Add teams for cluster-api-provider-docker
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/S

#942 Add members 2019-06-20
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#946 Add teams for execution-hook
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-apps/OWNERS
  config/kubernetes-sigs/sig-apps/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#947 Add new members (6/22/19)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#948 Add draveness to kubernetes-sig org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#950 Add members 2019-06-24
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#949 Initial update to SIG Release teams for 1.16
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/M

#951 Add teams for cluster-api-bootstrap-provider-kubeadm.
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/S

#954 Remove rustyrobot from Kubernetes org
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#955 Add yoojinl to Kubernetes GitHub org
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#959 Add teams for node-feature-discovery-operator
  config/kubernetes-sigs/sig-node/OWNERS
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#960 Add new members (6/26/19)
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#965 Add new members (6/26/19) - le deuxieme PR
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#967 Add members 2019-06-27
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#969 Add members 2019-06-28
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS
