Repository kubernetes/org, pull requests merged in 2019-10, with the labels that each got.

#1236 Add members 2019-09-30
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1237 Add Enhancements shadows for 1.17 Release Team.
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1241 Add members 2019-10-01
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1242 Add teams for the discuss-theme repo.
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1227 Cleaning up SIG-OpenStack owners
  config/kubernetes/org.yaml
  config/kubernetes/sig-openstack/teams.yaml
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, size/M

#1248 add myself as an admin to sigs.k8s.io/cluster-api-provider-vsphere
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1254 Add members 2019-10-02
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1250 Add @raelga to kubernetes-sigs/org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/usability, size/XS

#1259 Add guineveresaenger to milestone maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1258 Add members 2019-10-03
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1218 added APAC Coordinator team in SIG ContribEx
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1263 Update steering committee GitHub team
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1264 Add members 2019-10-04
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1266 Update alias file from k/community
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1267 Add members 2019-10-05
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1268 Add members 2019-10-06
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1271 Update bazel to 0.29.1
  .bazelversion
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1272 Use repo-infra to bootstrap go rules
  .bazelrc
  BUILD.bazel
  WORKSPACE
  load.bzl
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#1275 Add hasheddan as a milestone maintainer for 1.17
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1280 Add members 2019-10-08
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1281 Added evillgenius75 to milestone maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1278 Reuse repo-infra verify checks
  BUILD.bazel
  WORKSPACE
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.bzl.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/update-all.sh
  hack/update-bazel.sh
  hack/update-deps.sh
  hack/update-gofmt.sh
  hack/verify-all.sh
  hack/verify-bazel.sh
  hack/verify-deps.sh
  hack/verify-gofmt.sh
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#1279 Use --config=remote in ci
  .bazelrc
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1284 Adding myself to maintainers of k/dns repo
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1288 add daminisatya to milestone maintainers
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1290 Add SataQiu to sig-docs-zh teams
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1293 Isolate permissions for user markthink
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1294 Add members 2019-10-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1298 Add members 2019-10-12
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1304 Add ksubrmnn to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1306 Remove kylix3511 from kubernetes
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1310 Add divyenpatel to vsphere-csi-driver-maintainers
  config/kubernetes-sigs/sig-vmware/teams.yaml
Labels: approved, area/provider/vmware, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, size/XS

#1311 Add members 2019-10-15
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1313 add hwdef to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1321 Add members 2019-10-17
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1318 Add droslean as a milestone maintainer for 1.17
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1323 Adding sig-docs-vi members
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#1327 Add girikuncoro to kubernetes-sigs and kubernetes-incubator org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1329 Add members 2019-10-22
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1308 Add SataQiu into cluster-api-bootstrap-provider-kubeadm-maintainers and sig-cluster-lifecycle teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1333 Adds chuckha to cluster-api-maintainers list
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/XS

#1334 Add members 2019-10-24
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1317 Milestone Maintainer role for 1.17 bug triage team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1336 Add dvonthenen (myself 😃) to vsphere admins
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1338 Update code-of-conduct gh team
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1341 Add members 2019-10-25
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1344 added cartyc to member list
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1345 Add 1.17 docs lead to milestone maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1349 Add members 2019-10-28
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1352 Add verult to kubernetes-csi org
  config/kubernetes-csi/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1353 Update teams for external-dns
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/network, size/M

#1355 Remove GitHub team for spartakus
  config/kubernetes-incubator/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1358 Add jiatongw to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1362 Add members 2019-10-30
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1364 add aramase to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1359 Updates kompose teams
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1369 Add teams for ingress-controller-conformance
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/network, size/S
