Repository kubernetes/org, pull requests merged in 2019-07, with the labels that each got.

#973 Add members 2019-07-01
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#974 added members to release-engineering team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/S

#978 Fix visibility of secret teams
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/wg-lts/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS, wg/lts

#980 Remove k8s-release-robot from all teams
  config/kubernetes/org.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#982 Revert "Remove k8s-release-robot from all teams"
  config/kubernetes/org.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#985 Add new members (7/3/19)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#970 Add 1.16 Enhancement Shadows
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/S

#990 Add members 2019-07-07
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#989 Add teams for image-builder
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/S

#992 Add members 2019-07-08
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#994 Add ehashman to kubernetes
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#995 Add ehashman to sig-instrumentation
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, sig/instrumentation, size/XS

#997 Add nasa9084 to sig-docs-l10n-admins
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#998 added more Release Manager Associates to release-engineering team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1000 Add members 2019-07-09
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1001 Add members 2019-07-10
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1003 Add Maria as Milestone Maintainer
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1005 Update blog team members
  config/kubernetes/org.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-permissions, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#1006 Add mborsz and mm4tt to the milestone maintainers.
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, size/XS

#1007 Add members 2019-07-12
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1009 Add member for kubernetes-incubator.
  config/kubernetes-incubator/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1011 Add members 2019-07-16
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1019 Add members 2019-07-20
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1022 Add members to kubernetes-sigs for CloudNativeDays Tokyo Workshop
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1025 add Liujingfang1 to cli-experimental admin
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, sig/contributor-experience, size/XS

#1031 Add new members (7/22/19)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1017 Add members 2019-07-17
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1041 Add members 2019-07-24
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1044 Add members 2019-07-25
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1015 Add kfox1111 to wg-multitenancy
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/auth, sig/contributor-experience, size/XS

#1045 Update sig-testing teams
  config/kubernetes/sig-testing/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/XS

#1052 sig-cloud-provider: Rename OWNERS_ALIASES & GitHub teams
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-aws/OWNERS
  config/kubernetes-sigs/sig-azure/OWNERS
  config/kubernetes-sigs/sig-ibmcloud/OWNERS
  config/kubernetes-sigs/sig-vmware/OWNERS
  config/kubernetes/sig-aws/OWNERS
  config/kubernetes/sig-aws/teams.yaml
  config/kubernetes/sig-azure/OWNERS
  config/kubernetes/sig-azure/teams.yaml
  config/kubernetes/sig-gcp/OWNERS
  config/kubernetes/sig-gcp/teams.yaml
  config/kubernetes/sig-ibmcloud/OWNERS
  config/kubernetes/sig-ibmcloud/teams.yaml
  config/kubernetes/sig-openstack/OWNERS
  config/kubernetes/sig-openstack/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/aws, sig/azure, sig/contributor-experience, sig/gcp, sig/ibmcloud, sig/openstack, sig/vmware, size/L

#1050 Add team for sig-usability
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-usability/OWNERS
  config/kubernetes-sigs/sig-usability/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1055 Update sig-docs-ko-owners
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1057 Add members 2019-07-31
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1059 add Liujingfang1 to the cli-utils admin list
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, sig/contributor-experience, size/XS
