Repository kubernetes/org, pull requests merged in 2019-12, with the labels that each got.

#1453 Add members 2019-12-03
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1440 releng: Update Release Managers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-longterm, sig/contributor-experience, sig/release, size/S

#1454 Update kustomize teams.
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, sig/contributor-experience, size/XS

#1455 Add Joe Betz to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1458 sig-pm: Add enhancement-admins team to grant admin to k/enhancements
  config/kubernetes/sig-pm/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/pm, size/S

#1433 Add sig-docs-ru members
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#1437 Update ja l10n member
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1431 Adding sig-docs-vi members
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1462 Update kubernetes-sigs scheduling teams.
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-scheduling/OWNERS
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/M

#1461 Add write permissions to 1.17 docs release lead
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1459 Prune outdated SIG Docs permissions
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1465 Add teams for blobfuse-csi-driver
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, sig/contributor-experience, size/S

#1447 Update access to xichengliudui
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1468 Remove SIG Docs approver permissions
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1467 kubernetes-csi: add pohly as csi-test maintainer
  config/kubernetes-csi/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1471 Add members 2019-12-08
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1472 Prune sig-docs-maintainers
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#1473 Rename bclau to claudiubelu
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1479 Set billing e-mails on orgs to GH admin team
  config/config_test.go
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-incubator/org.yaml
  config/kubernetes-retired/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1483 add fabriziopandini as website.it approver
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/XS

#1485 Add members 2019-12-16
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1486 Add xing-yang as external-snapshotter admin
  config/kubernetes-csi/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1490 Add pjh to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1492 Add jefftree to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1493 Sync dashboard-maintainers with OWNERS_ALIASES
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1495 Grant saschagrunert access to cri-tools
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1496 Add members 2019-12-18
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1497 Remove rktlet teams
  config/kubernetes-incubator/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1500 Bump test-infra to de81526
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XXL

#1502 Add members 2019-12-23
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1504 Add members 2019-12-24
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1507 Add members 2019-12-29
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1510 Update OWNERS
  OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S
