Repository kubernetes/org, pull requests merged in 2020-05, with the labels that each got.

#1850 Add members 2019-05-02
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1846 Add 1.19 Release Enhancements team members
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1852 Add 1.19 CI Signal shadows to milestone maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1848 add droslean in milestone maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1859 sigs: add cmluciano to k8s-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1860 Add Release Manager Associates to milestone-maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1866 Add members 2020-05-09
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1871 Add GitHub teams for csi-driver-smb
  config/kubernetes-csi/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1870 Add GitHub teams for sig-windows-samples
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/S

#1872 Fix team name for sig-windows-samples
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/S

#1874 Add damemi to descheduler admins
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#1793 Add team member for ingress-controller-conformance
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/network, size/XS, tide/merge-method-squash

#1876 github-membership: add members 2020-05-13
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1881 Update wg-iot-edge leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1886 Add members 2020-05-19
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1892 Remove GitHub teams for kube-deploy
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1894 Add members 2020-05-26
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1896 Requesting permissions to add milestone
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1901 Add pohly to the kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1902 Add members 2020-05-28
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1900 sig-arch: Add enhancements GitHub team for notifications
  config/kubernetes/sig-architecture/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/architecture, size/M

#1906 Add bai as a milestone maintainer
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS
