Repository kubernetes/org, pull requests merged in 2020-01, with the labels that each got.

#1512 Updated release team leads
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/S

#1515 Add hasbro17 to kubernetes-sigs org.
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1516 Add member to sig-docs-ko-reviews.
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1520 Modify vsphere-csi-driver OWNERS file
  config/kubernetes-sigs/sig-vmware/teams.yaml
Labels: approved, area/provider/vmware, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#1523 Update teams.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1524 I am a chair shadow
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1521 Add members 2019-01-07
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1509 Update ContribEx Teams
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L

#1526 Add nzoueidi, markyjackson-taulia, and onlydole to the YouTube admin section
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#1528 Requesting for website milestone maintainers permissions
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1535 Add youngnick to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/network, size/XS

#1537 Adding robscott as kubernetes-sigs member
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1541 update ci-signal team members for 1.18 release cycle
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1544 Add members 2020-01-10
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1545 Add 1.18 enhancement shadows
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1546 Add aledbf to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1548 Update ci-signal team's members
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1517 Update SIG Docs team membership
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#1508 Add Polish localization team
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, sig/docs, size/S

#1559 Add members 2019-01-13
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1561 Update teams for cluster-capacity
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: approved, area/github-repo, cncf-cla: yes, lgtm, sig/scheduling, size/S

#1566 Add teams for scheduler-plugins
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scheduling, size/S

#1570 Add members 2020-01-16
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1571 Add vishakha to kubernetes-sig
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1573 Add Sh4d1 to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1572 Remove teams for testing_frameworks
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1577 giving release lead write access
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1578 Add members 2019-01-20
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1569 Update sig-contributor-experience-leads
  OWNERS_ALIASES
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1582 remove me from teams.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1585 Add teams to manage kubernetes/kube-openapi
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1586 adjust maintainers/admins of kube-openapi
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1590 Add members 2020-01-23
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1591 Add CecileRobertMichon in cluster-api-provider-azure-admins
  config/kubernetes-sigs/provider-azure/teams.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#1592 Reconcile capz GitHub team membership w/ repo OWNERS
  config/kubernetes-sigs/provider-azure/teams.yaml
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/cluster-lifecycle, size/S

#1593 Updated RT lead shadows
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1594 Add haosdent to kubernetes-sig org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1598 Migrate teams for custom-metrics-apiserver
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#1599 Updates Milestone Maintainer role for the 1.18 Bug Triage team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1602 disable simplytunde as an approver due to inactivity.
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1603 Rename teams for cluster-addons
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1605 Grant approval privileges to NMCs for active orgs
  config/kubernetes-client/OWNERS
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/OWNERS
  config/kubernetes-csi/org.yaml
  config/kubernetes-incubator/OWNERS
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/OWNERS
  config/kubernetes/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/S

#1608 github-membership: add members 2020-01-30
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS
