Repository kubernetes/org, pull requests merged in 2020-02, with the labels that each got.

#1613 Add members 2020-02-04
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1620 Promote hasheddan to Release Manager Associate + temp Branch Manager access
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1622 Add codenrhoden to image-builder-maintainers
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1617 Update cluster-api-provider-vsphere-*
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#1626 Remove stale invites for kubernetes
  config/kubernetes/org.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/S

#1628 Add members 2020-02-10
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1629 Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1631 Replace l-korbes with ellenkorbes
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1630 add caesarxuchao to apiserver network proxy admin
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#1632 cluster-lifecycle: Update capz GitHub teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1621 releng: Remove hasheddan's temporary Branch Manager access
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#1638 add mortent to cli-utils admin list
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cli, size/XS

#1639 New members (2020-02-18)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1644 Added bartsmykla to k-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1619 Add vincepri to controller-runtime maintainers
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#1647 Add teams for kubernetes-sigs/secrets-store-csi-driver
  config/kubernetes-sigs/sig-auth/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/auth, size/S

#1651 Add sig-instrumentation members
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/M

#1652 Add members 2020-02-21
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1658 Add teams for external-health-monitor
  config/kubernetes-csi/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1660 Add sig-storage tech leads and co-chairs
  config/kubernetes-csi/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#1655 Add vincepri as controller-tools maintainer
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#1661 Add sig-storage co-chair
  config/kubernetes/sig-storage/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/storage, size/S

#1662 Add onlydole to EN sections
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1666 Add jimmidyson to kubefed maintainers
  config/kubernetes-sigs/sig-multicluster/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#1667 Add benmoss to sig-windows-tools maintainers
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/windows, size/XS

#1670 sig-instrumentation: Prune team
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#1671 sig-instrumentation: Re-add loburm, remove mxinden
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/S

#1673 Add members 2019-02-28
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-membership, cncf-cla: yes, lgtm, size/XS

#1653 Add 44past4 to SIG instrumentation
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/instrumentation, size/XS

#1674 Remote stale invites for kubernetes-sigs
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#1675 Remove stale invites for kubernetes-client
  config/kubernetes-client/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS
