Repository kubernetes/org, pull requests merged in 2020-11, with the labels that each got.

#2288 Remove myself as a SIG CLI admin
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cli, size/XS

#2308 Remove archived wg teams and aliases
  OWNERS_ALIASES
  config/kubernetes/wg-lts/OWNERS
  config/kubernetes/wg-lts/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/S, wg/lts

#2310 Add members 2020-11-04
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2312 Add members 2020-11-04
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2315 Replace skilxn-go with Ye-Tian-Zero
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2316 Add members 11 06 2020
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2320 Add members 11-09-2020
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2322 sig-release: Unnest build-admins from release-engineering
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/M

#2314 Update SIG-docs-ja reviewers
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2325 Remove mistyhacks to fix peribolos
  config/kubernetes/org.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2326 Add Members 11-11-2020
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2323 Updating admins/maintainers for sig-windows repos
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/windows, size/XS

#2330 Add dims as k8s maintainer
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2324 Moving windows-testing admin/maintainer groups under sig-windows/teams.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/windows, size/S

#2336 Update SIG leadership and Release Managers (promotions, new members, retirement)
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/L

#2343 Add Members 11-24-2020 - Batch 1
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2344 Add eddiezane to sig-cli-leads
  OWNERS_ALIASES
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2347 Add members 2020-11-25
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2337 Add lianghao as a member of kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, size/XS

#2349 Fix reylejano's username
  config/kubernetes/org.yaml
  config/kubernetes/sig-docs/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, sig/release, size/XS
