Repository kubernetes/org, pull requests merged in 2020-09, with the labels that each got.

#2155 Remove makoscafee from docs teams
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2154 Add members 09-01-2020
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2141 1.20 Release Updates
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/M

#2160 Add Members 09 01 2020
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2164 add nilo19 to cloud-provider-azure admin
  config/kubernetes-sigs/provider-azure/teams.yaml
Labels: approved, area/github-management, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#2166 Add fabriziopandini to cluster-api-maintainers group / milestone access
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2171 Add cwdsuzhou as a member of kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2167 Add Shell32-natsu as a member of kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2168 Add members 2020-09-03
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2174 Remove mbohlool from java-admins
  config/kubernetes-client/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2175 Remove wg-machine-learning from OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2178 add answer1991 to kubernetes/kubernetes member
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, size/XS

#2179 Add GitHub teams for zeitgeist
  config/kubernetes-sigs/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/S

#2180 sig-release: Add Pluies and yastij as k-sigs/zeitgeist maintainers
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2185 Add members 09-11-2020
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2188 Add detiber to cluster-api-provider-packet-{admins|maintainers}
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2191 sig-release: Update Release Manager groups
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/S

#2195 Add teams for apiserver-runtime repo
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/api-machinery, size/S

#2187 add gabbifish and camilamacedo86 as maintainers
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, size/XS

#2170 Remove inactive members
  config/kubernetes/provider-aws/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, size/S

#2138 Add codenrhoden as admin for image-builder repo
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2197 Add members 09-18-2020
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2196 add tanjunchen to sig-docs-zh team
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2203 adding droslean as a milestone maintainer
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2202 Add members 09-22-2020
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2210 Add members 2020-09-23
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2214 Add members 2020-09-23 Part 2
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2213 Add 1.20 RT docs shadows to the release team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2218 Adding erismaster as a milestone maintainer
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2217 Add members 09-23-2020 part 3
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2223 Add members 09-24-2020
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2221 Add 1.20 CI Signal Shadows to release-team and ci-signal team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2219 Add sayanchowdhury as the milestone maintainer
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2228 membership: Add irvifa to reference-docs-maintainers
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2233 Remove all members/teams from incubator
  config/kubernetes-incubator/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/L
