Repository kubernetes/org, pull requests merged in 2020-10, with the labels that each got.

#2235 Add 1.20 Release Docs team to website milestone maintainer team
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2206 Adding Daneyon as a Service APIs maintainer
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/network, size/XS

#2143 remove mcs-api-admins team from sig service catalog teams
  config/kubernetes-sigs/sig-multicluster/teams.yaml
  config/kubernetes-sigs/sig-service-catalog/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/multicluster, sig/service-catalog, size/S

#2225 SIG Docs chair transition 2020
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-docs/teams.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2237 Add members 10 02 2020
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2243 Add rikatz to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2244 Add members 10-06-2020
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2241 sig-architecture: Update Enhancements teams
  config/kubernetes/sig-architecture/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/architecture, size/S

#2245 Remove marun from sig-multicluster teams
  config/kubernetes/sig-multicluster/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/multicluster, size/XS

#2246 Rename seccomp-operator to security-profiles-operator
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/node, size/S

#2238 Add Chris Kim as Krew maintainer
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, sig/cli, size/XS, tide/merge-method-squash

#2249 Add GitHub teams for cluster-api-provider-nested
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2253 Add members 2020-10-10
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2258 Add members 2020-10-13
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2260 steering: update OWNERS_ALIASES and teams
  OWNERS_ALIASES
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, committee/steering, lgtm, size/XS

#2262 Add members 2020-10-14
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2267 Add members 2020-10-14 Part 2
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2263 add andyzhangx as admin of nfs and csi-proxy repos
  config/kubernetes-csi/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2256 update gcp-filestore-csi-driver admin and maintainer list
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2161 Add Donny Xia (@Shell32-Natsu) to kustomize maintainers.
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cli, size/XS

#2268 Add jsturtevant to sig-windows-tools-maintainers
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/windows, size/XS

#2272 sig-release: Update container-image-promoter teams
  config/kubernetes-sigs/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2273 Add members 10-16-2020
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2277 add gujingit to sig-cloud-provider-alibaba-admins
  config/kubernetes/sig-cloud-provider/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#2278 Add GitHub teams for e2e-framework
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/S

#2280 Add members 10-21-2020
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2281 Promote NMCs to approvers for active orgs
  config/kubernetes-client/OWNERS
  config/kubernetes-csi/OWNERS
  config/kubernetes-sigs/OWNERS
  config/kubernetes/OWNERS
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/S

#2270 replace mszostok with jhvhs as sig-service-catalog chair
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-service-catalog/teams.yaml
  config/kubernetes/sig-service-catalog/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#2285 Update SIG Release teams
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/L

#2286 Temporary admin permissions to set up a site in Netlify
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cli, size/XS

#2291 Add GitHub teams for cosi-api repo
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/storage, size/S

#2292 Add members 10-27-2020
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2293 Update release-team membership to reflect all shadows
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/M

#2300 sig-release: Add n3wscott to zeitgeist-maintainers
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2298 Add Phani to as maintainer to kustomize and cli-utils
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cli, size/XS
