Repository kubernetes/org, pull requests merged in 2020-07, with the labels that each got.

#1979 Add GitHub teams for kubetest2
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#1980 Add members 2020-07-02
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1981 Add members and teams for contributor-tweets repo
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#1984 Add clarketm to the kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1986 Add hakman to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1978 Add wongma7 to ebs, efs, and fsx maintainers
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#1989 Add test to ensure teams have privacy:closed
  config/config_test.go
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1983 Add celestehorgan to sig-docs-en-owners, reviewers, website-milestone-maintainers
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1972 Add irvifa as sig-docs-pr-reviews as preparation for shadowing role
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#1991 Add emedina to the kubernetes org
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1992 Add emedina as spanish team reviewer
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS

#2000 Add members 2020-07-07
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#2003 Update PSC to match current membership
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#1997 move SIG Cluster Lifecycle teams to SIG sub-folders and prune the main SIG team
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/L

#2008 Add onlydole to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2002 Update reference docs permissions
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-docs/OWNERS
  config/kubernetes-sigs/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, priority/important-soon, sig/docs, size/M

#2009 Add tengqm as a maintainer of the reference-docs
  config/kubernetes-sigs/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2010 add cpanato to the sig-cluster-lifecycle team
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2011 Add members 2020-07-09
  config/kubernetes/org.yaml
Labels: approved, area/github-management, area/github-membership, cncf-cla: yes, lgtm, size/XS

#2014 Add randomvariable as a CAPV maintainer
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2015 Update CAPZ maintainers and PMs
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2012 Add saschagrunert and alejandrox1 as SIG Release admins
  OWNERS_ALIASES
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2020 Add GitHub teams for seccomp operator
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/node, size/S

#2022 Add members 2020-07-14
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2025 Add WG Naming teams
  OWNERS_ALIASES
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/wg-naming/OWNERS
  config/kubernetes-sigs/wg-naming/teams.yaml
  config/kubernetes/wg-naming/OWNERS
  config/kubernetes/wg-naming/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/M

#2029 Add GitHub teams for secret-sync-rotation
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/S

#2031 updating permissions
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/S

#2030 sig-testing: Add justaugustus to repo-infra teams
  config/kubernetes/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/S

#2018 add andyzhangx to cloud-provider-azure-admins
  config/kubernetes-sigs/provider-azure/teams.yaml
Labels: approved, area/github-management, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#2021 Create GitHub team for minibroker repo
  config/kubernetes-sigs/sig-service-catalog/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/service-catalog, size/XS

#2032 Update org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2037 Add members 2020-07-16
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, area/github-membership, cncf-cla: yes, lgtm, size/XS

#2041 Add ksubrmnn to kubernetes-csi
  config/kubernetes-csi/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2044 Renaming secret-sync-rotation to k8s-gsm-tools
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/S

#2045 Move kind teams to sig-testing dir
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/S

#2038 Add f0rmiga as adminstrator to minibroker repo
  config/kubernetes-sigs/sig-service-catalog/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, sig/service-catalog, size/XS

#2049 Add members 2020-07-20
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2047 Remove inactive members
  config/kubernetes-client/org.yaml
  config/kubernetes-incubator/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-network/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-apps/teams.yaml
  config/kubernetes/sig-auth/teams.yaml
  config/kubernetes/sig-cli/teams.yaml
  config/kubernetes/sig-network/teams.yaml
  config/kubernetes/sig-node/teams.yaml
  config/kubernetes/sig-openstack/teams.yaml
  config/kubernetes/sig-scheduling/teams.yaml
  config/kubernetes/sig-storage/teams.yaml
  config/kubernetes/sig-windows/teams.yaml
Labels: approved, area/github-management, area/provider/openstack, cncf-cla: yes, lgtm, sig/apps, sig/auth, sig/cli, sig/cloud-provider, sig/network, sig/node, sig/scheduling, sig/storage, sig/windows, size/L

#2053 Add mattcary to kubernetes org
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2055 Add b01901143 to kubernetes, kubernetes-sigs
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2057 Add GitHub teams for COSI repos
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/storage, size/M

#2046 Update cluster-api-maintainers and sync w/ repo owners
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2056 sig-scalability: Prune/update teams
  config/kubernetes/sig-scalability/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/scalability, size/M

#2060 add current actual google build admins to build-admins
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS, tide/merge-method-squash

#2061 Add members 2020-07-24
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2062 Add rajula96reddy to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2066 Add repo SECURITY.md
  SECURITY.md
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/S

#2069 Add dashpole and logicalhan to milestone maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2050 Update Kops maintainers
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS
