Repository kubernetes/org, pull requests merged in 2021-07, with the labels that each got.

#2790 Add k8s-infra-ci-robot as admin of github.com/kubernetes/k8s.io
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
  config/kubernetes/wg-k8s-infra/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2819 Add members 2021-07-07
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2825 Add members 2021-07-14
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2827 Add tech-geek29 to kubernetes org
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2828 sig-release: Update k/repo-infra teams
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2830 Add jihoon-seo to sig-docs-ko-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2834 Add members 2021-07-16
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2838 Add lwkd teams to kubernetes-sigs
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2831 add chenxuc to zh reviewer
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2843 Add mengjiao-liu to sig-docs-zh-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2846 Remove bootkube teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2848 Add members 20210729
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, area/github-membership, cncf-cla: yes, lgtm, size/XS

#2849 Remove cluster-api-bootstrap-provider-kubeadm teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, area/github-repo, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2842 Adding Nick as a Gateway API maintainer
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/network, size/XS

#2766 Add self as aws-efs-csi-driver admin & maintainer
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: approved, area/github-management, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#2852 add cluster/ approvers to kubernetes-maintainers
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2853 Add members 20210730
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, area/github-membership, cncf-cla: yes, lgtm, size/XS
