Repository kubernetes/org, pull requests merged in 2021-03, with the labels that each got.

#2532 Update membership to reflect new username.
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, size/XS, tide/merge-method-squash

#2535 Add mpherman2 to test-infra-admins
  config/kubernetes/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/XS

#2537 Add members 2021-03-03
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2538 Add YuikoTakada to kubernetes-sigs member
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2540 Add teams for release-sdk, release-utils repos
  config/kubernetes-sigs/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/M

#2541 Welcome new SIG Instrumentation contributors
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#2543 Add gavinfish to kubernetes-sig org
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2545 Migrate contributor-site teams from kubernetes-sigs to kubernetes org
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: approved, area/github-management, area/github-repo, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2546 Add tanjing2020 to kubernetes org
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2550 Add members 2021-03-09
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2548 Adding yue to gen admins
  config/kubernetes-client/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2458 Add remove-members helper script
  hack/remove-members.sh
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/L

#2531 Update maintainers of sig-docs Portuguese team.
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/S

#2564 Add members 2021-03-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/S

#2570 Add GitHub team for k-sigs/instrumentation repo
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#2549 kubernetes-sigs/sig-api-machinery: Add Adirio as maintainer for kubebuilder and kubebuilder-release-tools
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/api-machinery, size/XS

#2522 feat: update sig-docs-es member list
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2578 Remove GitHub teams for k-csi/drivers repo
  config/kubernetes-csi/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/S

#2579 Add members 2021-03-16
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2571 add timoreimann as admin for cluster-api-provider-digitalocean
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2581 teams: refresh wg-k8s-infra teams
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/wg-k8s-infra/OWNERS
  config/kubernetes/wg-k8s-infra/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/M

#2583 New wg-multitenancy maintainers
  config/kubernetes-sigs/sig-auth/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, needs-ok-to-test, sig/auth, size/XS

#2590 Add Members 03-23-2021
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2595 Add GitHub teams for kui repo
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cli, size/S

#2517 Update cluster-api-provider-azure teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2596 Add sbueringer to cluster-api-provider-openstack-admins
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2594 Update cluster-api-provider aws maintainer list
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2482 Add self to aws-ebs-csi-driver-admins and remove inactives
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: approved, area/github-management, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, size/XS

#2598 Add GitHub teams for kpng repo
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/network, size/XS

#2563 Add dgrisonnet to custom-metrics-apiserver and prometheus-adapter maintainers
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#2600 Update SIG Windows Leads
  OWNERS_ALIASES
  config/kubernetes/sig-windows/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/windows, size/S

#2597 Add cheftako, cici37, jpbetz to cloud-provider-gcp-maintainers
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2601 Add GitHub teams for volume-populator subproject repos
  config/kubernetes-csi/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/S

#2602 Remove GitHub teams for cluster-registry
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/S

#2603 Update kube-state-metrics maintainer list
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2604 Update Kubernetes Code of Conduct Committee names
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS, tide/merge-method-squash

#2607 Add SataQiu into kubeadm-maintainers and milestone-maintainers teams
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/release, size/XS

#2606 add self as maintainer for aws-ebs-csi-driver
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: approved, area/github-management, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, size/XS
