Repository kubernetes/org, pull requests merged in 2021-12, with the labels that each got.

#3121 Add members 2021-12-02
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3122 Add teams for krm-functions-registry
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/cli, area/github-management

#3127 releng: Update publishing-bot teams to include Release Managers
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3125 add jlbutler to docs website-maintainers for 1.23 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3131 config: Init kubernetes-nightly org
  config/kubernetes-nightly/OWNERS
  config/kubernetes-nightly/org.yaml
  config/kubernetes-nightly/sig-release/OWNERS
  config/kubernetes-nightly/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#3139 Fix anyulled member to the right org
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3146 Add members 2021-12-14
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3147 sig-k8s-infra: Add teams for oci-proxy
  config/kubernetes-sigs/sig-k8s-infra/OWNERS
  config/kubernetes-sigs/sig-k8s-infra/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3148 Adds srm09 to capv admins and maintainers list
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3150 Cleanup 1.23 release docs team in sig-docs team
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3149 releng: update release managers
  config/kubernetes-nightly/sig-release/teams.yaml
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, kind/documentation, cncf-cla: yes, lgtm, sig/release, area/github-management
