Repository kubernetes/org, pull requests merged in 2021-01, with the labels that each got.

#2400 add sig-security OWNERS and teams
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-security/OWNERS
  config/kubernetes-sigs/sig-security/teams.yaml
  config/kubernetes/sig-security/OWNERS
  config/kubernetes/sig-security/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/M

#2401 Add members 2021-01-04
  config/kubernetes/org.yaml
Labels: approved, area/github-management, area/github-membership, cncf-cla: yes, lgtm, size/XS

#2374 Add floryut as a Kubespray maintainer
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2395 add kmova as admin to nfs provisioner projects
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, sig/storage, size/XS

#2390 Add Jiawei0227 to kubernetes-csi maintainer
  config/kubernetes-csi/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2399 Add yoonian to sig-docs-ko-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/XS

#2405 Update SIG Release teams for 1.21 Release
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/M

#2412 Add members 2021-01-13
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2387 chore: update with additional CAPA maintainers
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2414 teams: Add jeremyrickard as SIG Release Technical Lead
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2417 Add Members 01-14-2021
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2416 michmike vacating sig-windows chair position
  config/kubernetes-sigs/sig-windows/teams.yaml
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/sig-windows/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, sig/windows, size/M, tide/merge-method-squash

#2415 michmike vacating sig-windows chair position
  OWNERS_ALIASES
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2427 Add Members 01-15-2021
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2433 Add Members 01-16-2021
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2226 cleanup docs teams
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, size/S

#2438 Add members 2021-01-19
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2439 Update 1.21 CI Signal shadows for release-team, ci-signal
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/S

#2437 Update for teams.yaml for Bug Triage 1.21
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/S

#2442 Add 1.21 Enhancements shadows to github teams
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/S

#2441 Add Members 01-19-2021 - Batch 2
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2443 Add 1.21 Enhancements team to github enhancements team
  config/kubernetes/sig-architecture/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/architecture, size/XS

#2445 Add 1.21 Docs Shadows to GitHub teams
  config/kubernetes/sig-docs/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/docs, sig/release, size/XS

#2449 Add olemarkus to kops-maintainers
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2451 Add amwat and aojea to kind-{admins,maintainers}
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/XS

#2453 Add celanthe to k-sigs org
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2448 Add natasha41575 to kubernetes-sigs/sig-cli
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/cli, size/XS

#2460 Add members 2021-01-25
  config/kubernetes/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, priority/critical-urgent, size/XS

#2464 sig-contribex: add alisondy to OWNERS and teams
  OWNERS_ALIASES
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/contributor-experience, size/S

#2469 Retire from my role as Release Associate
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/release, size/XS

#2473 Setup SIG Testing subteams
  config/kubernetes/sig-testing/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/testing, size/M

#2471 Add shysank to kubernetes-sigs members
  config/kubernetes-sigs/org.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, size/XS

#2476 Add GitHub team for prometheus-adapter
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: approved, area/github-management, cncf-cla: yes, lgtm, sig/instrumentation, size/XS

#2457 Remove inactive members - Jan 2021
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/provider-openstack/teams.yaml
  config/kubernetes/sig-api-machinery/teams.yaml
  config/kubernetes/sig-auth/teams.yaml
  config/kubernetes/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-docs/teams.yaml
  config/kubernetes/sig-multicluster/teams.yaml
  config/kubernetes/sig-scalability/teams.yaml
  config/kubernetes/sig-scheduling/teams.yaml
  config/kubernetes/sig-storage/teams.yaml
  config/kubernetes/sig-testing/teams.yaml
Labels: approved, area/github-management, area/provider/openstack, cncf-cla: yes, lgtm, sig/api-machinery, sig/auth, sig/cloud-provider, sig/cluster-lifecycle, sig/docs, sig/multicluster, sig/scalability, sig/scheduling, sig/storage, sig/testing, size/L
