Repository kubernetes/org, pull requests merged in 2021-09, with the labels that each got.

#2927 Add fpetkovski as a kube-state-metrics maintainer
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2945 Add mrueg to kube-state-metrics-admins
  config/kubernetes/org.yaml
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/M, area/github-management

#2948 Add Members 09-02-2021
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2946 Release-1.23: update release team, milestone maintainers, ci signal lists for 1.23
  config/kubernetes/sig-release/teams.yaml
Labels: approved, priority/critical-urgent, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management

#2929 Add verult as kubernetes-csi csi-driver-host-path maintainer
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2922 Fix: move kube-scheduler-simulator-admins and kube-scheduler-simulator-maintainers to sig/scheduling
  config/kubernetes-sigs/sig-network/teams.yaml
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: size/S, sig/scheduling, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#2795 🌱 Add Adirio to kubebuilder-release-tools admins
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#2864 remove temporary access for pi-victor from website-maintainers
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#2930 Add joelanford to controller-runtime-maintainers and controller-tools-maintainers
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, ok-to-test, area/github-management

#2957 Add members 09-07-2021
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2956 Include mkumatag to provider-ibmcloud team for capi repo
  config/kubernetes-sigs/provider-ibmcloud/teams.yaml
Labels: size/XS, area/provider/ibmcloud, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#2872 Add jmyung to sig-docs-ko-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#2962 Add members 2021-09-09
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#2938 Add 1.23 RT Docs to sig-docs 'website-milestone-maintainers' team
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, sig/release, area/github-management

#2969 Add k8s-infra robot accounts to kubernetes orgs
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2971 Update sig-docs-hi members
  config/kubernetes/sig-docs/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#2964 website-milestone-maintainers: remove pi-victor.
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#2973 sig-security: Add teams for sig-security repo
  config/kubernetes/sig-security/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-repo, area/github-management, sig/security

#2974 Add Members 09-14-2021
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#2977 EasyCLA commit test
  README.md
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#2978 Revert "EasyCLA commit test"
  README.md
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2979 sig-testing: update test-infra teams
  config/kubernetes/sig-testing/teams.yaml
Labels: size/XS, sig/testing, approved, cncf-cla: yes, lgtm, area/github-management

#2982 Add cici37 to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2984 Update SIG Release teams
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management

#2989 Add reylejano to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#2990 OWNERS: mv wg-k8s-infra sig-k8s-infra
  OWNERS_ALIASES
  config/kubernetes/wg-k8s-infra/OWNERS
Labels: size/S, approved, cncf-cla: yes, lgtm, wg/k8s-infra, area/github-management

#2991 Follow wg-k8s-infra -> sig-k8s-infra rename
  config/kubernetes/sig-k8s-infra/OWNERS
  config/kubernetes/sig-k8s-infra/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#2997 Update SIG cluster lifecycle owners
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3003 Add members 20210924
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3004 Remove capi-docker teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#3005 Remove frakti teams
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#2998 Remove wg component standard
  OWNERS_ALIASES
  config/kubernetes/wg-component-standard/OWNERS
  config/kubernetes/wg-component-standard/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, wg/component-standard, area/github-management

#2996 Swap Deep Debroy with Claudiu Belu as Windows TL
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-windows/teams.yaml
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/sig-windows/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M, sig/windows, area/github-management

#3007 use make
  .gitignore
  Makefile
  config/config_test.go
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/boilerplate.tf.txt
  hack/boilerplate/verify_boilerplate.py
  hack/update-gofmt.sh
  hack/verify-boilerplate.sh
  hack/verify-gofmt.sh
  hack/verify.sh
Labels: approved, size/XL, cncf-cla: yes, lgtm, area/github-management

#3008 config/kubernetes: sig-k8s-infra team updates
  config/kubernetes/sig-k8s-infra/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management, sig/k8s-infra

#3010 make: fix make deploy
  Makefile
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3013 update admin/update.sh
  Makefile
  admin/update.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#3011 Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3009 remove bazel-related files
  .bazelrc
  .bazelversion
  .kazelcfg.json
  BUILD.bazel
  WORKSPACE
  admin/BUILD.bazel
  admin/README.md
  cmd/merge/BUILD.bazel
  config/BUILD.bazel
  hack/verify-all.sh
  load.bzl
  repos.bzl
Labels: approved, size/XXL, cncf-cla: yes, lgtm, area/github-management

#2980 Added self as maintainer for aws-ebs-csi-driver
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3015 Add capi-kubevirt teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3016 make: regen config on edits to config/**/*.yaml
  Makefile
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3022 Request to add shivanshu1333 to wg-structured-logging
  config/kubernetes/wg-structured-logging/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management, wg/structured-logging
