Repository kubernetes/org, pull requests merged in 2021-10, with the labels that each got.

#3024 SIG-CLI: KnVerey to lead, pwittrock to emeritus
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-cli/teams.yaml
  config/kubernetes/sig-cli/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, sig/cli, area/github-management

#3012 Update sig-docs-hi reviewers
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3025 Add members 2021-10-04
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3027 OWNERS_ALIASES: update sig-testing-leads
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
