Repository kubernetes/org, pull requests merged in 2022-09, with the labels that each got.

#3644 Add astoycos to NPAPI admins
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#3654 Update James Strong's k-sigs membership
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3662 Cleanup after 1.25 cycle and add reylejano to SIG Docs website-maintainer
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3677 Add Members 2022-09-12
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3684 Add harshanarayana to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3574 update sig-scheduler teams.yaml
  config/kubernetes/sig-scheduling/teams.yaml
Labels: size/L, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-management

#3653 update sig-arch enhancements members
  config/kubernetes/sig-architecture/teams.yaml
Labels: size/XS, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#3687 Adding missing sig-*-leads GH groups so sigs can apply lead-opted-in label for enhancements
  config/kubernetes/sig-api-machinery/teams.yaml
  config/kubernetes/sig-apps/teams.yaml
  config/kubernetes/sig-auth/teams.yaml
  config/kubernetes/sig-autoscaling/teams.yaml
  config/kubernetes/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/sig-multicluster/teams.yaml
  config/kubernetes/sig-network/teams.yaml
  config/kubernetes/sig-scheduling/teams.yaml
  config/kubernetes/sig-storage/teams.yaml
Labels: sig/auth, sig/multicluster, sig/storage, sig/scheduling, approved, sig/cluster-lifecycle, sig/apps, sig/cloud-provider, cncf-cla: yes, lgtm, sig/autoscaling, sig/network, size/M, sig/api-machinery, area/github-management

#3690 Add Members 2022-09-14
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3673 Create teams for release enhancements and docs
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3695 Move oci-proxy teams from kubernetes-sigs to kubernetes org
  config/kubernetes-sigs/sig-k8s-infra/OWNERS
  config/kubernetes-sigs/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management, sig/k8s-infra

#3699 Create team for Communications
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, tide/merge-method-squash, area/github-management

#3692 Add note to membership issue template; no need to request membership if you are already part of a K8s org
  .github/ISSUE_TEMPLATE/membership.yml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3707 add BenjaminKazemi to build-admins
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3708 Add Members 2022-09-21
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3704 releng: RMA onboarding for cici37 and salaxander
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, kind/documentation, cncf-cla: yes, lgtm, sig/release, area/github-management

#3705 Add PRR shadows
  config/kubernetes/sig-architecture/teams.yaml
Labels: size/S, approved, sig/architecture, cncf-cla: yes, lgtm, tide/merge-method-squash, area/github-management

#3686 Add 1.26 RT Shadows
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M, tide/merge-method-squash, area/github-management

#3706 Create team for Bug-Triage
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, tide/merge-method-squash, area/github-management

#3710 Add klueska to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3715 add tuxtof to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3720 Add members 2022-09-23
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3724 Add self to efs-csi-driver maintainer - Ashley-wenyizha
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3725 Add logicalhan as PRR shadow
  config/kubernetes/sig-architecture/teams.yaml
Labels: size/XS, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#3734 update contribex leads alias & team
  OWNERS_ALIASES
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#3726 Update README, mention adding yourself to k/orgs
  README.md
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management
