Repository kubernetes/org, pull requests merged in 2022-03, with the labels that each got.

#3298 Add GitHub teams for release-team-shadow-stats
  config/kubernetes-sigs/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3189 Add 1.24 Docs Shadows to GitHub teams
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, sig/release, area/github-management

#3300 Add GitHub teams for maintainers
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: size/S, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#3299 Add new SIG Docs co chairs and tech lead to owners aliases
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3250 Update sig-cli GitHub teams
  config/kubernetes/org.yaml
  config/kubernetes/sig-cli/teams.yaml
Labels: size/L, approved, cncf-cla: yes, lgtm, sig/cli, area/github-management

#3297 Add killianmuldoon to Kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3292 Add oomichi/cristicalin to kubespray-maintainers team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3311 Add Members 2022-03-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3313 Add Ankitasw to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3315 Add josh-ferrell to Kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3317 Add shivi28 to Kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3323 Add BobyMCbobs to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3326 Add riaankl to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3322 SIG Instrumentation team updates for 2021
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3333 add myself to oci-proxy admins / maintainers
  config/kubernetes-sigs/sig-k8s-infra/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/k8s-infra

#3330 Update capz membership: Add shysank to maintainers. jackfrancis, jsturtevant to pms
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management
