Repository kubernetes/org, pull requests merged in 2022-08, with the labels that each got.

#3584 Add sig-docs-blog-owners to SIG Docs teams
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3590 Sync sig-docs zh team members
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3592 Add GitHub teams for windows-operational-readiness
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/windows, area/github-management

#3596 add aojea to the milestone maintainer group
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3593 Update teams.yaml - Request admin access
  config/kubernetes-sigs/provider-ibmcloud/teams.yaml
Labels: size/XS, area/provider/ibmcloud, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#3559 Add Garima Negi as reviewer for Hindi l10n
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3589 Add yoonian to sig-docs-ko-owners
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3606 Add Members 2022-08-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3607 Add mimowo to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3613 Add ritazh to milestone-maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3612 Add t-inu to sig-docs-ja-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3620 Add Members 2022-08-18
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3621 fix remaining org memberships
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3618 Update code-of-conduct-committee group membership
  OWNERS_ALIASES
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3622 add sonasingh46 to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3625 Add qbarrand to the kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3628 fix username for arahamad
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/provider-ibmcloud/teams.yaml
  config/kubernetes/org.yaml
Labels: size/S, area/provider/ibmcloud, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#3632 Add kcmartin to website-maintainers team for 1.25 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3635 Update prometheus-adapter teams
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3636 Update custom-metrics-apiserver teams
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3633 Add members 2022-08-22
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3638 add wespanther to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3639 add yevgeny-shnaidman to kubernetes, kubernetes-sigs
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3640 config: update kubetest2 teams
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: size/XS, sig/testing, approved, cncf-cla: yes, lgtm, area/github-management

#3641 Update username encodeflush to hosseinsalahi
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3626 Add qbarrand as KMM admin
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/node, ok-to-test, area/github-management

#3646 add tenative 1.26 release team without team shadows
  config/kubernetes/sig-release/teams.yaml
Labels: size/L, approved, cncf-cla: yes, priority/important-soon, lgtm, sig/release, area/github-management

#3649 Move qbarrand to correct team
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#3650 Rename kernel-module-management teams
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#3651 Fix bad previous name in kmm teams
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#3629 Add mauriciopoppe as admin/maintainer of CSI Proxy
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
