Repository kubernetes/org, pull requests merged in 2022-05, with the labels that each got.

#3394 add nate-double-u, pi-victor, jlbutler to website-maintainers team for 1.24 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, sig/release, area/github-management

#3400 Cleaning up after v1.24 docs release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3405 Add Members 2022-05-05
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3408 Fix alias for new member rdpsin
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3406 Add self as maintainer for aws-ebs-csi-driver
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3409 add self as maintainer for aws-ebs-csi-driver
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3411 Add teams for the azurelustre-csi-driver repo
  config/kubernetes-sigs/provider-azure/teams.yaml
Labels: size/S, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/provider/azure, area/github-repo, area/github-management

#3401 cluster-api-provider-openstack: remove chrischdi
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3368 Add jichenjc into owner of cloud-provider-openstack
  OWNERS_ALIASES
  config/kubernetes/provider-openstack/teams.yaml
Labels: size/S, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/provider/openstack, area/github-management

#3419 updated contributor comms team
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: size/S, approved, sig/contributor-experience, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3334 update csharp admin, +tg123, -krabhishek8260
  config/kubernetes-client/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3426 Sync CAPZ owners with Azure provider project
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3435 Providing jyotimahapatra write access on aws-iam-authenticator
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#3454 Add cluster-api-cloudstack teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3455 Rename cluster-api-cloudstack -> cluster-api-provider-cloudstack teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3456 Add members 2022-05-30
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management
