Repository kubernetes/org, pull requests merged in 2022-12, with the labels that each got.

#3864 Remove teams for retired repos
  config/kubernetes-csi/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#3869 Updating Gateway API Admins to match Gateway API Maintainers
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#3877 Replace website maintainers
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3879 Add Ole Markus With to cloud-provider-aws maintainers
  config/kubernetes/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#3886 update github handle of MoShitrit to moshevayner
  config/kubernetes-client/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3887 Remove members from org
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3892 Updated write/admin access to ANP.
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#3896 Add Release Managers as maintainers for promo-tools
  config/kubernetes-sigs/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3897 Update `encodeflush` to `hosseinsalahi`
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3766 feat: Cluster API Provider AWS Team Changes
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3868 teams: add dougsland to sig-windows-dev-tools admin
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/windows, area/github-management

#3904 add wlp1153468871 to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3898 Add Vitthal Sai Kaul and Bishal Das as SIG-Docs Hindi l10n Reviewers
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3909 Add members 20221222
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3903 Add my-git9 to sig-docs-zh-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management
