Repository kubernetes/org, pull requests merged in 2022-01, with the labels that each got.

#3161 Add jihoon-seo to sig-docs-ko-owners
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3101 Update reviewers & owners (en) for SIG Docs
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3165 Update teams.yaml
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#3158 Add mauriciopoppe as maintainer of node-driver-registrar and livenessprobe
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3129 add andyzhangx to csi-driver-iscsi admin
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3167 Add Members 2021-01-07
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3172 org: Add dougsland to kubernetes sig org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3182 1.24 Release Team Onboarding
  config/kubernetes/sig-release/teams.yaml
Labels: size/L, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3194 Add MartinForReal to cloud-provider-azure-admins
  config/kubernetes-sigs/provider-azure/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/provider/azure, ok-to-test, area/github-management

#3196 kubernetes-csi: humblec as admin of csi-driver-iscsi and csi-lib-iscsi
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3199 Add Fedosin to kubernetes-sigs organization
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3174 grant write access for k/structured-merge-diff to jiahuif
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#3190 Update SIG Docs leadership
  config/kubernetes-sigs/org.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3200 Add Members 2022-01-21
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3201 add juanfescobar to build-admins, remove amwat
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3205 Uncomment new members
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3214 Update Kustomize teams
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/cli, area/github-management

#3153 Add CAPI operator team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3221 Updating GitHub Username s/ellenkorbes/vkorbes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3224 Update org membership request template
  .github/ISSUE_TEMPLATE/membership.yml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3223 Add members 2022-01-31
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management
