Repository kubernetes/org, pull requests merged in 2022-06, with the labels that each got.

#3467 Onboard 1.25 RT Leads and CI Signal Lead
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3283 add howieyuen to sig-doc-zh-owners
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3402 csi-lib-utils, external-provisioner: add pohly as admin
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3420 remove gabbifish as maintainer
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#3481 Add jwtty to cloud-provider-azure maintainer
  config/kubernetes-sigs/provider-azure/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/provider/azure, area/github-management

#3473 1.25 release team on-boarding
  config/kubernetes/sig-release/teams.yaml
Labels: size/L, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3482 Add carlisia to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3112 security-profiles-operator: Add JAORMX and jhrozek as admins
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#3485 Sync CAPZ owners with Azure provider project
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3425 Cleanup aws-ebs-csi-driver maintainers
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3433 Add seanmalloy and ingvagabund to descheduler repo with write access
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: size/XS, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-management

#3489 Add davidjumani and rohityadavcloud to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3497 Add members 2022-06-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3496 Add teams for logtools repo
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3498 Add teams for pspmigrator repo
  config/kubernetes-sigs/sig-auth/teams.yaml
Labels: sig/auth, size/S, approved, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#3501 Fix typo, rm krol and add krol3
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3500 onboarding the rest of 1.25 release team
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3503 Add 1.25 Docs Team to GitHub teams
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3505 Add aladewberry to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3506 Add Alexis and Leiyi to pd csi (and filestore csi too for Leiyi)
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3512 add upodroid to kubernetes, kubernetes-sigs
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3514 Remove k8s-gsm-tools teams
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: sig/testing, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3515 Add members 2022 06 20
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3436 Add ydFu to sig-docs-zh-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3518 Add strongjz as ingress-nginx admin
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3516 Update aws-ebs-csi-driver-admins
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3520 Add mrajashree as member in kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3523 Add alvaroaleman to controller-tools maintainers
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management
