Repository kubernetes/org, pull requests merged in 2022-11, with the labels that each got.

#3804 Add wondywang to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3799 add AverageMarcus to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3813 rename org member: arahamad-zz to arahamad
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/provider-ibmcloud/teams.yaml
  config/kubernetes/org.yaml
Labels: size/S, area/provider/ibmcloud, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3800 add dthorsen to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3814 Add members 2022 11 03
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3816 Add RichaBanker as sig instrumentation member
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3796 Add shurup as a sig-docs-ru member
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3815 Update kube-state-metrics admins to include SIG leadership
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3820 update sig testing leads team
  config/kubernetes/sig-testing/teams.yaml
Labels: size/XS, sig/testing, approved, cncf-cla: yes, lgtm, area/github-management

#3819 k8s-infra: Add teams for porche
  config/kubernetes-sigs/sig-k8s-infra/OWNERS
  config/kubernetes-sigs/sig-k8s-infra/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#3823 add aojea as ingress-gce maintainer in github
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3802 add cluster-api-release-team github team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3827 add joekr to cluster-api-release-team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#3829 Joining SIG instrumentation
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3835 Remove kargakis from kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3733 Add self to aws-fsx-csi-driver maintainers/admins list
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#3842 Add usage-metrics-collector teams
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3845 Update metrics-server team
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#3825 Add marquiz to node-feature-discovery-admins
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3711 Adding jmrodri and varshaprasad96 to KB admins
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, ok-to-test, area/github-management

#3849 Add Members 20221122
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3851 Add teams for minikube gui repo
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#3857 sig-release: Promote Verónica (Tech Lead) and Jeremy (Chair)
  OWNERS_ALIASES
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3856 Cleanup sig-instrumentation teams
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/instrumentation, size/M, area/github-management

#3838 Update sig-api-machinery teams.yaml
  config/kubernetes/sig-api-machinery/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, sig/api-machinery, tide/merge-method-squash, area/github-management

#3862 Add members 20221129
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#3850 Add dra-example-driver repo teams
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/node, area/github-repo, area/github-management

#3859 Add sbueringer & fabriziopandini to cluster-api-admins
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management
