Repository kubernetes/org, pull requests merged in 2023-09, with the labels that each got.

#4422 Add pegasas to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4421 cmd/merge: use strict unmarshalling for merging configs
  Makefile
  cmd/merge/main.go
  cmd/merge/main_test.go
  config/config_test.go
Labels: size/L, approved, cncf-cla: yes, lgtm, area/github-management

#4396 Update contributor comms team
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4435 Migrating away from deprecated ioutil
  cmd/helpers/helper.go
  cmd/merge/main.go
  cmd/restrictions/main.go
  config/config_test.go
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4436 Add zwpaper to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#4427 Add yussufsh as admin
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#4444 Add members 2023-09-08
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4443 [1.29] update milestone-maintainers, release-team, release-team-leads, sig-release github teams
  config/kubernetes/sig-release/teams.yaml
Labels: size/L, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#4446 Add members 20230911
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#4445 sig-cloud-provider: add teams for cloud-pv-admission-labeler repo
  config/kubernetes/sig-cloud-provider/teams.yaml
Labels: size/S, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#4450 sig-cloud-provider: add teams for k-sigs/cloud-pv-admission-labeler repo
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-cloud-provider/teams.yaml
  config/restrictions.yaml
Labels: approved, sig/cloud-provider, cncf-cla: yes, lgtm, size/M, area/github-management

#4451 Replace lavalamp with jpbetz for SIG apimachinery teams aliases
  config/kubernetes/sig-api-machinery/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#4458 Add member: bells17
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#4463 Add sig-scheduling-approvers and cleanup teams
  config/kubernetes/sig-scheduling/teams.yaml
Labels: sig/scheduling, approved, cncf-cla: yes, lgtm, size/M, area/github-management

#4467 Add torredil to CSI drivers maintainers/admins list
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#4469 Add member 20230918
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#4459 Kat for 1.29
  config/kubernetes/sig-docs/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/docs, sig/release, area/github-management

#4452 [1.29] add release sub-teams role shadow to release-team-* gh team
  config/kubernetes/sig-release/teams.yaml
Labels: approved, kind/documentation, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management

#4478 add koba1t to kustomize maintainers
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/cli, area/github-management

#4480 Update aws-ebs-csi-driver admin and maintainer lists.
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4441 Add mzaian to kubespray-maintainers team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4465 Add windsonsea to sig-docs-en-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4486 Remove contributor-tweets teams
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: size/S, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4471 Grant tyuchn@ admin access to pdcsi and filestorecsi repo
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4487 add nayihz to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#4447 Add martinforreal to kubernetes-csi org
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4493 Add members 2023-09-30
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management
