Repository kubernetes/org, pull requests merged in 2023-06, with the labels that each got.

#4255 add pacoxu to kubeadm maintainer
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4263 add kkeshavamurthy to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4254 add carlory to kubernetes-csi
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4264 Updating SIG Cloud Provider leads
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4268 Add members 2023-06-07
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4265 Adding new SIG Cloud Provider leads
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#4267 Add teams for cluster-api-ipam-provider-in-cluster
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#4271 Rename NitishKumar06 to nitishfy
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#4273 add Anna as maintainer of kustomize
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/cli, area/github-management

#4275 Add chendave to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4278 Update PRR members
  config/kubernetes/sig-architecture/teams.yaml
Labels: size/XS, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#4276 Add members 2023-06-09
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4279 Update cluster-api-operator-admins
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4286 Rotate ameukam and add MadhavJivrajani as GitHub Admin
  Makefile
  OWNERS
  SECURITY_CONTACTS
  admin/update.sh
  config/kubernetes-client/OWNERS
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/OWNERS
  config/kubernetes-csi/org.yaml
  config/kubernetes-incubator/OWNERS
  config/kubernetes-incubator/org.yaml
  config/kubernetes-nightly/OWNERS
  config/kubernetes-nightly/org.yaml
  config/kubernetes-retired/OWNERS
  config/kubernetes-retired/org.yaml
  config/kubernetes-sigs/OWNERS
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
  config/kubernetes-sigs/sig-k8s-infra/teams.yaml
  config/kubernetes-sigs/sig-release/teams.yaml
  config/kubernetes/OWNERS
  config/kubernetes/org.yaml
  config/kubernetes/sig-api-machinery/teams.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/wg-structured-logging/teams.yaml
Labels: size/L, approved, sig/contributor-experience, cncf-cla: yes, lgtm, sig/release, sig/api-machinery, area/github-management, sig/k8s-infra

#4293 contribex: Add teams for sigs-github-actions repo
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: size/S, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4296 .*: archive sig-usability
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-usability/OWNERS
  config/kubernetes-sigs/sig-usability/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/usability, area/github-management

#4299 Add members 2023-06-16
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4303 Add my-git9 to sig-docs-zh-owners
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4306 add hangscer8 to kubernetes-sigs (2023-06-23)
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4169 controller-tools: update admins and maintainer group
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#4307 remove multi-tenancy teams
  config/kubernetes-sigs/sig-auth/teams.yaml
Labels: sig/auth, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4309 add schrej to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4305 Add codefromthecrypt to the kube-scheduler-wasm-extension team
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: size/XS, sig/scheduling, approved, cncf-cla: yes, lgtm, tide/merge-method-squash, area/github-management

#4311 Add dims as admin to aws-* related repos
  config/kubernetes-sigs/sig-aws/teams.yaml
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-cloud-provider/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#4315 add joe-atzinger to kubernetes-sigs (2023-06-30)
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
