Repository kubernetes/org, pull requests merged in 2023-05, with the labels that each got.

#4191 Add g-gaston to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#4145 add mowangdk to alibaba-cloud-csi-driver admin and remove fredkan from alibaba-cloud-csi-driver
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4193 Cloud provider gcp: new admins and maintainers
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4195 Onboard new SRC member Craig Ingram
  OWNERS_ALIASES
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4197 Add lentzi90 to cluster-api-provider-openstack-admins
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4201 Add self to aws-ebs-csi-driver maintainers/admins list
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4207 Add eddycharly to kubernetes-sigs members
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4211 Add mboersma to image-builder-admins
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4222 Add GitHub team for kube-scheduler-wasm-extension
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: size/XS, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-management

#4230 Add members 2023-05-17 (including 1.28 Release Team shadows)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3912 Remove emeritus_approvers from kops-maintainers
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4237 Add members 2023-05-19 (1.28 Release Team Shadows)
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4217 sync NPAPI owners to org team members
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#4242 Add self to aws-fsx-csi-driver maintainers/admins list
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#4244 Add yankay to kubespray-maintainers team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4245 github user name change: daman1807 -> aroradaman
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4246 Add members 2023-05-24 (include 1.28 Release Shadows)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4208 Add msau42/deads2k to api-approvers/api-reviewers lists
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4210 Add 1.28 team member to sig-release YAML
  config/kubernetes/sig-release/teams.yaml
Labels: size/L, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#4247 Remove kube-batch teams
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: size/S, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#4248 Add chrisdoherty4 to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4256 Update SIG-CLI chairs and TL
  OWNERS_ALIASES
  config/kubernetes/sig-cli/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, sig/cli, area/github-management
