Repository kubernetes/org, pull requests merged in 2023-04, with the labels that each got.

#4133 Add ialidzhikov to kubernetes; add SD-13 and abhay-krishna to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4143 Add Zhuzhenghao to sig-docs-zh-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#3884 Update external-dns admins and maintainers
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#4148 Update OWNERS_ALIASES to match k/community
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#4139 Prune kubernetes-maintainers github group
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4149 Add dims as admin for provider-aws-test-infra repo
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#4150 Add members 2023-04-07
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4152 add tzneal to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4153 Add new leads to sig-contribex teams
  OWNERS_ALIASES
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: approved, sig/contributor-experience, cncf-cla: yes, lgtm, size/M, area/github-management

#4155 Update teams.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4161 Update cluster-api-release-team github team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4164 Add members 2023-04-14
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4167 Add campoy and ndipebot to usage-metrics-collector orgs
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#4172 cluster-addons: dholbach steps down
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4176 Add teams for cel-admission-webhook repo
  config/kubernetes/sig-api-machinery/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-repo, area/github-management

#4175 Remove kubefed teams
  config/kubernetes-sigs/sig-multicluster/teams.yaml
Labels: sig/multicluster, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4179 kubernetes-sigs: add ArangoGutierrez as nfd admin and maintainer
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4160 Add new member to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, ok-to-test, area/github-management

#4178 add bg-chun to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4184 remove adtac and add sanposhiho to the simulator admin
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: size/XS, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-management

#4185 Add members 2023-04-28
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
