Repository kubernetes/org, pull requests merged in 2023-08, with the labels that each got.

#4356 update peribolos make target to begin with a fresh output dir
  Makefile
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4357 update "$(MERGED_CONFIG)" target to begin with a clean output dir
  Makefile
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4358 fix script path for deploy target
  Makefile
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4359 admin: tell peribolos to reconcile team repo permissions
  admin/update.sh
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4360 fix repo name - s/lkwd/lwkd/g
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
  config/restrictions.yaml
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4345 Refresh of Cluster API Provider vSphere team members
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4353 CAPI: Update list with v1.6 CAPI Release Team Members GitHub handles
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4362 sync CAPZ maintainer team members with OWNERS
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4363 Peribolos: update GH teams perms across org files
  admin/update.sh
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-architecture/teams.yaml
  config/kubernetes/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/sig-testing/teams.yaml
  config/restrictions.yaml
Labels: size/L, sig/testing, approved, sig/contributor-experience, sig/cluster-lifecycle, sig/architecture, sig/cloud-provider, cncf-cla: yes, lgtm, sig/autoscaling, sig/release, area/github-management, sig/k8s-infra

#4364 revert sig-cluster-lifecycle team changes from commit eda8125
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/contributor-experience, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4292 Add dipesh-rawat to sig-docs-en-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4366 Add members 20230803
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#4367 Add mjlshen to capi release team after membership was obtained
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4371 Correcting case for GitHub usernames
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-api-machinery/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#4376 Add ydFu to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4377 Add ydFu to kubernetes-csi org
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4375 add LiorLieberman to ingress2gateway admin
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#4381 Add members 2023-08-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4378 Add Rishit-dagli to website-maintainers team for 1.28 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4380 Add ydFu to kubernetes-client org
  config/kubernetes-client/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4370 Peribolos: update repo permissions for GH teams
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
  config/kubernetes-sigs/sig-scheduling/teams.yaml
  config/kubernetes-sigs/sig-windows/teams.yaml
  config/kubernetes/sig-api-machinery/teams.yaml
  config/kubernetes/sig-architecture/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-security/teams.yaml
  config/restrictions.yaml
Labels: sig/scheduling, approved, sig/contributor-experience, sig/architecture, cncf-cla: yes, lgtm, sig/release, size/M, sig/windows, sig/api-machinery, area/github-repo, area/github-management, sig/security, sig/k8s-infra

#4374 Peribolos: Revert changes from PR 4363
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/kubernetes/sig-architecture/teams.yaml
  config/kubernetes/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/sig-testing/teams.yaml
Labels: sig/testing, approved, sig/contributor-experience, sig/cluster-lifecycle, sig/architecture, sig/cloud-provider, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management, sig/k8s-infra

#4388 Add priyankasaggu11929 as GitHub Admin
  Makefile
  OWNERS
  SECURITY_CONTACTS
  admin/update.sh
  config/kubernetes-client/OWNERS
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/OWNERS
  config/kubernetes-csi/org.yaml
  config/kubernetes-incubator/OWNERS
  config/kubernetes-incubator/org.yaml
  config/kubernetes-nightly/OWNERS
  config/kubernetes-nightly/org.yaml
  config/kubernetes-retired/OWNERS
  config/kubernetes-retired/org.yaml
  config/kubernetes-sigs/OWNERS
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
  config/kubernetes/OWNERS
  config/kubernetes/org.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
  config/kubernetes/sig-docs/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
  config/kubernetes/wg-structured-logging/teams.yaml
Labels: size/L, approved, sig/contributor-experience, cncf-cla: yes, lgtm, sig/docs, area/github-management, sig/k8s-infra

#4392 Revert "update admin/update.sh to include --skip-removals flag"
  admin/update.sh
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4391 Remove 1.28 lead from sig docs team
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4347 add pacoxu to milestone maintainer for kubeadm
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#4395 Add members 2023-08-18
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4400 Add TerryHowe to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4402 Fix verify for mac and linux
  hack/verify-restrictions.sh
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4407 peribolos: fix typo s/repo/repos/g in csi-proxy-maintainers/admins team
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4409 Add bugoverdose to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4410 Add members 20230824
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#4414 Add nunnatsa as admin in cluster-api-provider-kubevirt
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4415 update openstack teams
  config/kubernetes/provider-openstack/teams.yaml
Labels: approved, sig/cloud-provider, cncf-cla: yes, lgtm, size/M, area/provider/openstack, area/github-management

#4401 Add hughdanliu and gomesjason as admins for aws-fsx-openzfs-csi-driver
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4418 Add stormqueen1990 to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4404 Update test-infra repo admins and maintainers
  config/kubernetes/sig-testing/teams.yaml
Labels: sig/testing, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4432 Add folks who are on-call for test-infra
  config/kubernetes/sig-testing/teams.yaml
Labels: size/XS, sig/testing, approved, cncf-cla: yes, lgtm, area/github-management

#4431 Request: Add troy0820 to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
