Repository kubernetes/org, pull requests merged in 2023-02, with the labels that each got.

#3997 added sig-node-leads
  OWNERS_ALIASES
  config/kubernetes/sig-node/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#3998 changes to SIG Node leadership for milestones
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/node, sig/release, area/github-management

#3999 Add GitHub teams for logical-cluster repo
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4001 Add members 2023-02-03
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#3992 Add 1.27 CI Signal shadows
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3972 add bug triage team for 1.27
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3975 adding 1.27 release notes team to apropriate groups
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3991 Add comms team for 1.27
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#3963 Update sig-docs-es members
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4009 updating minikube admins and maintainers
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, tide/merge-method-squash, area/github-management

#4010 Add mengjiao-liu to sig-docs-en-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4005 Add sunnylovestiramisu as csi sidecar maintainer
  config/kubernetes-csi/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4006 Add sunnylovestiramisu as maintainer for pd-csi and filestore drivers
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4014 Add mengjiao-liu to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4007 Add kinzhi to sig-docs-zh-reviews
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4018 Update GitHub username Ethyling => jjacobelli
  config/kubernetes-sigs/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#3987 kubernetes-sigs: Add mrueg as member
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4019 Remove users from configuration to fix peribolos
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4020 add back binacs(BinacsLee)
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#4021 remove from kubernetes-client
  config/kubernetes-client/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4024 Add Zhuzhenghao to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4023 remove from csi
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#3971 Cleanup sig-docs teams
  config/kubernetes/sig-docs/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/M, tide/merge-method-squash, area/github-management

#4027 remove from sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4017 add tzneal to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4025 Add CecileRobertMichon as SIG Cluster Lifecycle Lead
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4033 Add members 21-02-2023
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#4037 Removing stale invites
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-nightly/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4028 Add killianmuldoon as CAPI maintainer
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4038 Add `rexagod`
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#4042 Add members 2023-02-24
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4044 Remove nzoueidi
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#4045 Change Github handle from nzoueidi to ezzoueidi
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: size/S, approved, sig/contributor-experience, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4032 SRC membership updates
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, committee/security-response, area/github-management

#4046 Remove xlgao-zju
  config/kubernetes/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#4048 Add tyuchn as maintainer for pd and filestore drivers
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management
