Repository kubernetes/org, pull requests merged in 2024-08, with the labels that each got.

#5085 Adding to k8s sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5087 Temporarily elevate `maintainers-etcd` team permissions
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5089 Revert "Temporarily elevate etcd maintainer permissions."
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5079 Add Okabe-Junya to sig-docs-ja-owners
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5092 Add members 2024-08-05
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5088 Add members 2024-08-03
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5068 Add etcd release team
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5090 Add thedtripp as sig-etcd/etcd member
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management, sig/etcd

#5045 Add sohankunkerkar to `sig-node-cri-o-test-maintainers`
  config/kubernetes/sig-node/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#5080 Add kwilczynski to SIG Node groups
  config/kubernetes/sig-node/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#5094 sig-etcd: add gh teams for etcd-operator
  config/etcd-io/org.yaml
  config/etcd-io/sig-etcd/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-repo, area/github-management, sig/etcd

#5095 Add drewhagen to website-maintainers team for 1.31 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5098 adding Drew to milestone maintainers in order to freeze the website
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5100 Add members 2024-08-13
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5104 added Peter Hunt as a sig node chair
  OWNERS_ALIASES
  config/kubernetes/sig-node/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/node, sig/release, area/github-management

#5102 Add kmala to sig-cloud-provider-aws maintainers
  config/kubernetes/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#5107 docs: adding salaxander as sig docs tech lead
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5109 Add members 2024-08-23
  config/etcd-io/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5110 Update kOps maintainers
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5112 Add members 2024-08-27
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5111 Update capi v1.9 release team members
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: needs-ok-to-test, size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5114 Update description for Kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5115 Remove failed org invites
  config/etcd-io/org.yaml
  config/etcd-io/sig-etcd/teams.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
  config/kubernetes/wg-structured-logging/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5116 Add hakman and justinsb to etcd.io
  config/etcd-io/org.yaml
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5119 sig-apps: add teams for llm-instance-gateway
  config/kubernetes-sigs/sig-apps/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/apps, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#5122 Add members 2024-08-29
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5123 Add members 2024-08-30
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management
