Repository kubernetes/org, pull requests merged in 2024-12, with the labels that each got.

#5276 update sig-cloud-provider owners and leads
  OWNERS_ALIASES
  config/kubernetes/sig-cloud-provider/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, sig/cloud-provider, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management

#5283 Add members Dec-03-2024
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5288 Org: Uppercase my handle.
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5282 sig-apps: add github teams for kjob repo
  config/kubernetes-sigs/sig-apps/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/apps, cncf-cla: yes, lgtm, area/github-management

#5291 Add new team for maintaining etcdlabs repository
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5289 Teams: Uppercase my handle.
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5294 sig-storage: remove container-object-storage-interface-api gh teams
  config/kubernetes-sigs/sig-storage/teams.yaml
  config/restrictions.yaml
Labels: sig/storage, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5293 Add members 2024-12-06
  config/etcd-io/org.yaml
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5296 Add members 2024-12-07
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5303 Add Kubermatic to apisnoop and verify-conformance repos
  config/kubernetes-sigs/sig-architecture/teams.yaml
Labels: size/XS, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#5304 Add xmudrii as K8s Infra Tech Lead
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/sig-testing/teams.yaml
Labels: sig/testing, size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management, sig/k8s-infra

#5257 Add richabanker to sig-instrumentation-leads
  OWNERS_ALIASES
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
  config/kubernetes/sig-instrumentation/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/instrumentation, sig/release, area/github-management

#5297 Add members 2024-12-08
  config/kubernetes-client/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5309 k-sigs: rename and move inference project from sig-apps to sig-net
  config/kubernetes-sigs/sig-apps/teams.yaml
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/S, approved, sig/apps, cncf-cla: yes, lgtm, sig/network, area/github-management

#5312 Add members 2024-12-19
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5316 add carlory to kubeadm maintainer
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5305 rikatz is stepping down from ingress-nginx
  config/kubernetes-sigs/sig-network/teams.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5320 Add members 2024-12-22-eve
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5318 Ingress NGINX: Update owners.
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5319 Add members 2024-12-22
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5321 Add salasberryfin to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management
