Repository kubernetes/org, pull requests merged in 2024-04, with the labels that each got.

#4853 Add suggested affiliation check to membership template
  .github/ISSUE_TEMPLATE/membership.yml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4862 add mlavacca as ingress2gateway maintainer
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#4833 Remove ehashman as SIG Instrumentation lead
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#4850 Update etcd website maintainers
  config/etcd-io/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4852 chore: do not require gobin to be in path
  hack/add-members.sh
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4818 Add Mario Fahland to LWKD owners.
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: size/XS, approved, sig/contributor-experience, cncf-cla: yes, lgtm, tide/merge-method-squash, area/github-management

#4872 Sync CAAPH maintainers
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#4858 Add seanzatzdev-amazon as member/efs-csi admin/maintainer
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4869 Add members 20240403
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#4876 Update prow location and rate limit
  Makefile
  admin/update.sh
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4882 Add members 2024-04-15-noon
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4883 Add drewhagen to website-maintainers team for 1.30 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4879 milestone-maintainers: add pohly
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#4888 Use main branch instead of latest
  Makefile
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4889 Add jihoon-seo to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4892 sig-network: add team repo permissions for kube-network-policies repo
  config/kubernetes-sigs/sig-network/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#4894 Add members 2024-04-22
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4891 Update sig-cli leads
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-cli/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-cli/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M, sig/cli, area/github-management

#4890 Rename `k8s.io/test-infra` module to `sigs.k8s.io/prow`
  README.md
  cmd/helpers/helper.go
  cmd/korg/utils.go
  cmd/merge/main.go
  config/config_test.go
  go.mod
  go.sum
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4897 Add dannawang0221 to pdcsi and filestore csi repo
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4898 add sig-contributor-experience GH team & sub-teams to k-sigs org
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
Labels: approved, sig/contributor-experience, cncf-cla: yes, lgtm, size/M, area/github-management

#4903 Remove cloud-provider-baiducloud teams
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/S, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#4905 Add members 2024-04-25
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4821 Add liurupeng as lws admin
  config/kubernetes-sigs/sig-apps/teams.yaml
Labels: size/XS, approved, sig/apps, cncf-cla: yes, lgtm, area/github-management

#4912 Add members 2024-04-26
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4910 Remove 1.30 shadows from sig docs team
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4917 added terrytangyuan as an org member
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4900 sig-storage: remove container-object-storage-interface-csi-adapter teams for repo archival
  config/kubernetes-sigs/sig-storage/teams.yaml
  config/restrictions.yaml
Labels: sig/storage, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#4918 Add terrytangyuan as an kubernetes-sigs org member
  config/kubernetes-sigs/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#4920 Add members 2024-04-27
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4895 Update capi v1.8 release team members
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#4925 Update go modules
  go.mod
  go.sum
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4926 sig-auth: Add teams for secrets-store-sync-controller
  config/kubernetes-sigs/sig-auth/teams.yaml
  config/restrictions.yaml
Labels: sig/auth, size/S, approved, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#4806 Add `cri-client` staging repository
  config/kubernetes/org.yaml
  config/restrictions.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4919 added wg serving
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4924 add levi106 to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#4922 Add Okabe-Junya to `sig-docs-ja-reviewer`
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#4896 SIG Autoscaling - Leads Update
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-autoscaling/teams.yaml
  config/kubernetes/sig-autoscaling/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/autoscaling, sig/release, size/M, area/github-management

#4927 sig-architecture: add wg-device-management gh teams
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-architecture/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management
