Repository kubernetes/org, pull requests merged in 2024-07, with the labels that each got.

#5042 Grant maintainers-etcd admin permission on etcd-io/etcd
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5044 Revert "Grant maintainers-etcd admin permission on etcd-io/etcd"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5047 Add members 2024-07-05
  config/etcd-io/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#5049 k-sigs/sig-security: add in teams for cve-feed-osv
  config/kubernetes-sigs/sig-security/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-repo, area/github-management, sig/security

#5050 fix repo name for cve-feed-osv repo
  config/kubernetes-sigs/sig-security/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/security

#5053 Rename members 2024-07-08
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5058 Add members 2024-07-11
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5062 Add members 2024-07-15
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#5064 Add members 2024-07-15
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5048 config: cleanup etcdadm teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5043 SIG-MC leadership change: pmorie emeritus, skitt co-chair
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-multicluster/teams.yaml
  config/kubernetes/sig-multicluster/teams.yaml
Labels: sig/multicluster, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5067 Archive kubernetes-sigs/kpng
  config/kubernetes-sigs/sig-network/teams.yaml
  config/restrictions.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5069 Add members 2024-07-17
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#5070 Add drewhagen and sanchita-07 to release-team-release-signal
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5071 Add members 2024-07-18
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5057 Update teams.yaml - Request admin access
  config/kubernetes-sigs/provider-ibmcloud/teams.yaml
Labels: size/XS, area/provider/ibmcloud, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5076 Add AndrewSirenko to kubernetes and kubernetes-csi
  config/kubernetes-csi/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#5077 Add members 2024-07-24
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5078 Add repos for wg-serving, networking
  config/kubernetes-sigs/sig-architecture/teams.yaml
  config/kubernetes-sigs/sig-network/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/architecture, cncf-cla: yes, lgtm, sig/network, area/github-repo, area/github-management

#5073 Add bells17 to website-maintainers team
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5082 Add members 2024-07-31
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5083 Add furkatgofurov7 to CAPI Operator admins list
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5084 docs: add Mattia Lavacca as a Gateway API maintainer
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management
