Repository kubernetes/org, pull requests merged in 2024-11, with the labels that each got.

#5241 Add members nov-4-2024
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5244 Add members Nov-5-2024
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5247 sig-auth: add staging repository
  config/kubernetes/org.yaml
  config/restrictions.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5248 sig-network: add gh teams for cni-dra-driver repo
  config/kubernetes-sigs/sig-network/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5249 sig-network: add MikeZappa87 to cni-dra-driver gh teams
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5246 Update org membership – LappleApple
  config/kubernetes/org.yaml
  config/kubernetes/sig-architecture/teams.yaml
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: size/XS, approved, sig/contributor-experience, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#5250 Add members Nov-07-2024
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5253 Elevate etcd team permissions for release window
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5252 Sync CAPZ admins with Azure provider project
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5254 Revert "Elevate etcd team permissions for release window."
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5256 Add ArkaSaha30 to etcd team member
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5259 Add members 2024-11-15
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5262 Add members 2024-11-18
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5251 Add maintainer into kubectl-validate repo
  config/kubernetes-sigs/sig-cli/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/cli, area/github-management

#5263 Remove impact-maker from the Kubernetes Org
  config/kubernetes/org.yaml
  config/kubernetes/sig-architecture/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, sig/architecture, cncf-cla: yes, lgtm, sig/release, area/github-management

#5268 add ghouscht to etcd triage group
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5266 Add additional note to repo creation template
  .github/ISSUE_TEMPLATE/repo-create.yml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5267 Rename "tu1h" to "0ekk"
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5271 Add inductor in kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5272 Add members 2024-11-22
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5235 updating Release Signal shadows
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5273 sig-storage: add container-object-storage-interface gh teams
  config/kubernetes-sigs/sig-storage/teams.yaml
  config/restrictions.yaml
Labels: sig/storage, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5275 Add members – Nov 26, 2024
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5132 Update teams.yaml for adding niranjandarshann
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5278 Add: Add b1gb4by
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management
