Repository kubernetes/org, pull requests merged in 2025-10, with the labels that each got.

#5883 Update the Release Signal 1.35 members
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5892 add ballista01 to kubernetes-sigs, kubernetes
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5897 Add members oct-3-2025
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5888 k8s-infra: Rotate leads
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-k8s-infra/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/L, approved, sig/architecture, cncf-cla: yes, lgtm, sig/release, area/github-management, sig/k8s-infra

#5907 sig-autoscaling: add gh teams for karpenter-provider-ibm-cloud repo
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-autoscaling/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/autoscaling, area/github-management
