Repository kubernetes/org, pull requests merged in 2025-09, with the labels that each got.

#5803 Add members 2025-08-29 eve
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5804 add nearora-msft as csi driver maintainer
  config/kubernetes-sigs/provider-azure/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/provider/azure, area/github-management

#5815 Add members 2025-09-05
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5817 WG-Batch leads update
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5449 Add mengqiy to milestone maintainer
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5846 sig-cluster-lifecycle: add gh teams for minikube-os/preloads repos
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
  config/restrictions.yaml
Labels: approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, size/M, area/github-management

#5849 etcd: Update release-etcd team for release window
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5853 Revert "etcd: Update release-etcd team for release window"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5851 Adding kro maintainers
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#5854 adding khanhtc1202 & ntheanh201 as sig-docs-vi-owners/reviewers
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5872 Add members 2025-09-26
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5874 Add matthchr to kro admins
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5852 add ai gateway wg leads
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5573 Add riteshghorse as maintainer for gcp-filestore-csi-driver
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: size/XS, sig/storage, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5887 Add jasonbraganza as GitHub admin
  Makefile
  OWNERS
  SECURITY_CONTACTS
  admin/update.sh
  config/etcd-io/org.yaml
  config/kubernetes-client/org.yaml
  config/kubernetes-csi/org.yaml
  config/kubernetes-incubator/OWNERS
  config/kubernetes-incubator/org.yaml
  config/kubernetes-nightly/OWNERS
  config/kubernetes-nightly/org.yaml
  config/kubernetes-retired/OWNERS
  config/kubernetes-retired/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5873 sig-network: add gh teams for wg-ai-gateway repo
  config/kubernetes-sigs/sig-network/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5860 Add 1.35 enhancements shadows to appropriate groups
  config/kubernetes/sig-architecture/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: approved, sig/architecture, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management
