Repository kubernetes/org, pull requests merged in 2025-02, with the labels that each got.

#5386 Add docs shadows for 1.33
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5380 Add kishen-v to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5389 Add mskrocki and LionelJouin as admins for multi-network repos.
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5390 Add Comms shadows
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5393 Add ardaguclu to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5395 Add hime as admin to gcp-compute-persistent-disk-csi-driver
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: size/XS, sig/storage, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5396 Add members 2025-02-11
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5402 Elevate etcd team permissions for release window.
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5403 Add members 2025-02-13
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5405 Revert "Elevate etcd team permissions for release window."
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5406 Add members 2025-02-14
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5407 Add mfahlandt as Co Chair for Contributor Experience - update comms
  OWNERS_ALIASES
  config/kubernetes/sig-contributor-experience/teams.yaml
Labels: size/S, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#5399 Add tonyzhc to kubernetes-sigs/sig-storage/gcp-compute-persistent-disk-csi-driver org
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: size/XS, sig/storage, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5413 Elevate etcd team permissions for release window.
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5416 etcd: Update release-etcd team
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5419 Add members 21-02-2025
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5420 etcd: Update release-etcd team for release window
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5422 Revert "etcd: Update release-etcd team for release window"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5424 Add teams for provider-ibmcloud-test-infra repo
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-repo, area/github-management

#5427 Add members 2025-02-27
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5426 Add mainred to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
