Repository kubernetes/org, pull requests merged in 2025-04, with the labels that each got.

#5510 Add headlamp teams
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-ui/OWNERS
  config/kubernetes-sigs/sig-ui/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5493 SIG Auth: Leadership Change
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-auth/teams.yaml
  config/kubernetes/sig-auth/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: sig/auth, approved, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management

#5491 Add ivanvc to sig-etcd-leads
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5523 Create a separate group with etcd admin access
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5525 Add team for maintainer-tools repo
  config/kubernetes-sigs/sig-architecture/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#5529 sig-instrumentation: update ksm teams
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#5530 Add mengqiy to perf-tests maintainers
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5531 add macsko and dom4ha to the approver team
  config/kubernetes/sig-scheduling/teams.yaml
Labels: size/XS, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-management

#5533 Add HoKim98 to kubernetes member
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5536 Add members 2025-04-14
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-membership, area/github-management

#5527 Add teams for kube-api-linter repo
  config/kubernetes-sigs/sig-api-machinery/teams.yaml
  config/restrictions.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#5540 Add org members — April 16, 2025
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5499 Drop sftim as org member
  OWNERS_ALIASES
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-docs/teams.yaml
  config/kubernetes/org.yaml
  config/kubernetes/sig-docs/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/docs, ok-to-test, area/github-management

#5461 sig-network: update external-dns team
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5538 Add dankova22 to owner for aws-efs-csi-driver
  config/kubernetes-sigs/sig-aws/teams.yaml
Labels: size/XS, area/provider/aws, approved, sig/cloud-provider, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5541 Add LMKTFY to SIG Docs
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5544 Archive kubernetes-sigs/pspmigrator and kubernetes-sigs/hierarchical-namespaces
  config/kubernetes-sigs/sig-auth/teams.yaml
  config/restrictions.yaml
Labels: sig/auth, approved, cncf-cla: yes, lgtm, size/M, area/github-management

#5495 chore: add new CAPG maintainers
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5489 id: added za as approvers and reviewers for id content
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, ok-to-test, area/github-management

#5548 Add members 2025-04-21
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5552 Add rayandas to website-maintainers team for 1.33 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5553 Remove jacobwolfaws + others permissions for aws repos
  config/kubernetes-sigs/sig-aws/teams.yaml
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: area/provider/aws, size/S, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#5556 chore: add shanduur and BlaineEXE to cosi-driver-sample
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: size/XS, sig/storage, approved, cncf-cla: yes, lgtm, area/github-management

#5555 Change jacobwolfaws to kuba-wolf
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5560 Add stmcginnis to sig-testing kind groups
  config/kubernetes-sigs/sig-testing/teams.yaml
Labels: size/XS, sig/testing, approved, cncf-cla: yes, lgtm, area/github-management

#5513 Update org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5566 Remove temporary accesses
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5567 Add members 2025-04-29
  config/etcd-io/org.yaml
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5568 Add members 2025-04-30
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
