Repository kubernetes/org, pull requests merged in 2025-06, with the labels that each got.

#5616 Update sig-windows teams
  OWNERS_ALIASES
  config/kubernetes-sigs/sig-windows/teams.yaml
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/sig-windows/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M, sig/windows, area/github-management

#5628 Add 1.34 release signal team permissions
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5647 Revert "etcd: Update release-etcd team for release window"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5640 Update node-problem-detector member access
  config/kubernetes-sigs/sig-node/teams.yaml
  config/kubernetes/org.yaml
  config/restrictions.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/M, area/github-management

#5648 Remove khareyash05 from kubernetes orgs
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5649 Fix node-problem-detector repo teams
  config/kubernetes-sigs/sig-node/teams.yaml
  config/kubernetes/sig-node/teams.yaml
  config/restrictions.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, size/M, area/github-management

#5636 Add 1.34 Docs shadows to release-team-docs and website milestone maintainers
  config/kubernetes/sig-docs/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/docs, sig/release, area/github-management

#5656 Remove MartinForReal from Azure team
  config/kubernetes-sigs/provider-azure/teams.yaml
  config/kubernetes/provider-azure/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/provider/azure, area/github-management

#5660 Add v1.34 branch management team to milestone-maintainers
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5663 Add mbobrovskyi to kubernetes
  config/kubernetes/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#5662 Add PBundyra to k8s org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5668 Add members 2025-06-21
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5670 Add members 2025-06-23
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5673 Add mdzraf to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5680 add ivankatliarchuk to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5681 Add members 2025-06-26
  config/etcd-io/org.yaml
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
