Repository kubernetes/org, pull requests merged in 2025-03, with the labels that each got.

#5436 sig-network: add github teams for network-policy-finalizer repo
  config/kubernetes-sigs/sig-network/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5438 Give maintainers-website permissions for etcd-io/protodoc
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5434 Add members 2025-03-01
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5435 sig-contribex: remove sigs-github-actions teams for repo archival
  config/kubernetes-sigs/sig-contributor-experience/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/contributor-experience, cncf-cla: yes, lgtm, area/github-management

#5442 Add members 2025-03-04
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5445 etcd: Update release-etcd team for release window
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5446 Revert "etcd: Update release-etcd team for release window"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5421 cocc: update for 2025 election
  OWNERS_ALIASES
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5451 Add members 2025-03-07
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5448 Add mengqiy to sig-scalability-leads
  OWNERS_ALIASES
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5338 Add jongwooo to sig-docs-ko-owners
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5454 add moshevayner to etcd-io
  config/etcd-io/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5453 Adding yue9944882 to aws iam authn
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/XS, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#5463 Add zylxjtu to gmsa admin/maintainer
  config/kubernetes-sigs/sig-windows/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/windows, area/github-management

#5464 Add members march 13 2025
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5469 config/etcd-io/sig-etcd: add fuweid as maintainer
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5471 Archive repo cluster-driver-registrar and driver-registrar
  config/kubernetes-csi/org.yaml
  config/restrictions.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#5455 Add members 2025-03-10
  config/etcd-io/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5373 add sttts to sig-api-machinery-leads
  config/kubernetes/sig-api-machinery/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/api-machinery, area/github-management

#5472 Add Members 2025-03-16
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5473 Add members 2025-03-17
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5476 sig-multicluster: add teams for kubernetes-sigs/multicluster-runtime
  config/kubernetes-sigs/sig-multicluster/teams.yaml
  config/restrictions.yaml
Labels: sig/multicluster, size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5478 add atiratree to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5392 sig-storage: sync team members & OWNERS of external-snapshot-metadata
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5479 Add members 2025-03-20
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5482 etcd: Update release-etcd team for release window
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5483 Revert "etcd: Update release-etcd team for release window"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5466 fix: move to sigs.k8s.io/yaml
  cmd/helpers/helper.go
  cmd/restrictions/main.go
  config/config_test.go
  go.mod
  go.sum
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5490 etcd: Update release-etcd team for release window
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5492 etcd: Revert "Update release-etcd team for release window"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5496 etcd: add ivanvc to etcd-operator maintainers
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd
