Repository kubernetes/org, pull requests merged in 2025-01, with the labels that each got.

#5328 Add sig-autoscaling-milestone-maintainers
  config/kubernetes/sig-autoscaling/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/autoscaling, area/github-management

#5329 Cleanup SIG Docs teams.yaml after 1.32 release and prepare for 1.33 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5324 Add 1.33 release team permissions
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management

#5331 Add members 2025-01-09-noon
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5322 add cjihrig to javascript-admins
  config/kubernetes-client/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5330 Update lws owners
  config/kubernetes-sigs/sig-apps/teams.yaml
Labels: size/XS, approved, sig/apps, cncf-cla: yes, lgtm, area/github-management

#5336 Add members 2025-01-10
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5339 sig-scalability: add inference-perf teams
  config/kubernetes-sigs/sig-scalability/OWNERS
  config/kubernetes-sigs/sig-scalability/teams.yaml
  config/restrictions.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#5342 Add ivanvc to etcd website maintainers team
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5344 Add raywainman as maintainer/review of autoscaling repo
  config/kubernetes/sig-autoscaling/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/autoscaling, area/github-management

#5345 etcd: allow etcd-operator triage permission for etcd members
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5349 fix: update sig-scheduling-misc team
  config/kubernetes/sig-scheduling/teams.yaml
Labels: size/XS, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-management

#5350 Add members 2025-01-18
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5356 Add members 2025-01-20
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5357 Add members 2025-01-21
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5358 sig-network: add github teams for nat64 repo
  config/kubernetes-sigs/sig-network/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5361 Update gw-inference-extension admins to match maintainers
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5354 Update v1.33 Release Signal Shadows
  config/kubernetes/sig-release/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5327 Create team directory for provider-gcp and update group members
  OWNERS_ALIASES
  config/kubernetes/org.yaml
  config/kubernetes/provider-gcp/OWNERS
  config/kubernetes/provider-gcp/teams.yaml
  config/restrictions.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, area/github-management

#5367 Add members 2025-01-23
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5368 add dims to etcd-io
  config/etcd-io/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5371 Add members 2025-01-24
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5375 Add members 2025-01-25
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5364 Add Enhancements team for 1.33 to appropriate groups
  config/kubernetes/sig-architecture/teams.yaml
  config/kubernetes/sig-release/teams.yaml
Labels: size/S, approved, sig/architecture, cncf-cla: yes, lgtm, sig/release, area/github-management

#5376 Revert "Elevate etcd team permissions for release window."
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5381 Adding bridgetkromhout as PRR shadow
  config/kubernetes/sig-architecture/teams.yaml
Labels: size/XS, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#5387 Update approvers and reviewers dropping inactive members and adding shadows
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5388 Add members 2025-01-30
  config/etcd-io/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management
