Repository kubernetes/org, pull requests merged in 2025-08, with the labels that each got.

#5753 Add laozc to both kubernetes and kubernetes-csi org
  config/kubernetes-csi/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5758 sig-cl: sync system-validators admins/maintainers
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5751 Add members 2025-08-02
  config/kubernetes-csi/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, area/github-management

#5752 Add members 2025-08-02 Eve
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5757 sig-cl: remove capi provider packet teams
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/S, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5769 add gabesaba@ as Kueue maintainer
  config/kubernetes-sigs/sig-scheduling/teams.yaml
Labels: size/XS, sig/scheduling, approved, cncf-cla: yes, lgtm, area/github-management

#5765 sig-instrumentation: add gh teams for resource-state-metrics repo
  config/kubernetes-sigs/sig-instrumentation/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/instrumentation, area/github-management

#5782 Add members 2025-08-19
  config/kubernetes-client/org.yaml
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5685 Bump sigs.k8s.io/yaml to v1.5.0
  go.mod
  go.sum
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5786 sig-arch: add gh teams for admission-policies repo
  config/kubernetes-sigs/org.yaml
  config/kubernetes-sigs/sig-architecture/teams.yaml
  config/restrictions.yaml
Labels: size/S, approved, sig/architecture, cncf-cla: yes, lgtm, area/github-management

#5788 Add SayakMukhopadhyay as approver to sig-docs
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5790 Update the teams.yaml for sig docs
  config/kubernetes/sig-docs/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5791 Add members 2025-08-22
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5792 add logicalhan to etcd members
  config/etcd-io/org.yaml
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5800 Remove michellengnx from website-maintainers after 1.34 release
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management
