Repository kubernetes/org, pull requests merged in 2025-05, with the labels that each got.

#5571 SIG Scheduling: Leadership Change
  OWNERS_ALIASES
  config/kubernetes/sig-release/teams.yaml
  config/kubernetes/sig-scheduling/teams.yaml
Labels: size/S, sig/scheduling, approved, cncf-cla: yes, lgtm, sig/release, area/github-management

#5577 add adrianmoisey to kubernetes-sigs
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5570 Add members 2025-05-03
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5374 Add ianychoi to sig-docs-ko-*
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, ok-to-test, area/github-management

#5569 Updating ANP admin/maintainers list.
  config/kubernetes-sigs/sig-cloud-provider/teams.yaml
Labels: size/S, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#5528 Add missing maintainers + headlamp-reviewers team to the sig-ui teams
  config/kubernetes-sigs/sig-ui/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/ui, ok-to-test, area/github-management

#5574 Add sunnylovestiramisu as admin for volume populators
  config/kubernetes-csi/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5578 Include Prajyot-Parab as an admin for cluster-api-provider-ibmcloud
  config/kubernetes-sigs/provider-ibmcloud/teams.yaml
Labels: size/XS, area/provider/ibmcloud, approved, sig/cloud-provider, cncf-cla: yes, lgtm, area/github-management

#5575 Add juliankatz as pcdsi driver maintainer and admin
  config/kubernetes-sigs/sig-storage/teams.yaml
Labels: size/XS, sig/storage, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5580 Add joshjms to etcd member
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5582 etcd: Update release-etcd team for release window
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5581 Add joshjms to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, ok-to-test, area/github-management

#5585 add HirazawaUi to kubeadm maintainers/admins
  config/kubernetes/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5588 Revert "etcd: Update release-etcd team for release window"
  config/etcd-io/sig-etcd/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management, sig/etcd

#5589 Add slashpai to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, needs-ok-to-test, approved, cncf-cla: yes, lgtm, area/github-management

#5590 Add members 2025-05-09
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5595 Add members 2025-05-13
  config/kubernetes-sigs/org.yaml
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5579 Update network-policy-api admins
  config/kubernetes-sigs/sig-network/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/network, area/github-management

#5583 Add slashpai to sig-instrumentation-members team
  config/kubernetes/sig-instrumentation/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/instrumentation, ok-to-test, area/github-management

#5599 Add tico88612 to kubespray-maintainers team
  config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml
Labels: size/XS, approved, sig/cluster-lifecycle, cncf-cla: yes, lgtm, area/github-management

#5602 Update SPO groups
  config/kubernetes-sigs/sig-node/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/node, area/github-management

#5576 Update inference-perf admins to active maintainers
  config/kubernetes-sigs/sig-scalability/teams.yaml
Labels: size/S, approved, cncf-cla: yes, lgtm, sig/scalability, ok-to-test, area/github-management

#5601 Add members 2025-05-15
  config/etcd-io/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5584 Add v1.34 release team permissions and cleanup older releases
  config/kubernetes/sig-release/teams.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M, area/github-management

#5605 Add members 2025-05-16
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5612 add alimaazamat to kubernetes org
  config/kubernetes/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management

#5594 Add t-inu to website-maintainers team
  config/kubernetes/sig-docs/teams.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, sig/docs, area/github-management

#5606 Add benjaminapetersen to kubernetes-sigs org
  config/kubernetes-sigs/org.yaml
Labels: size/XS, approved, cncf-cla: yes, lgtm, area/github-management
